@charset "UTF-8";
/* -------------------
  ACCORDION
--------------------*/
.accordion {
	&-label {
		background: #F2F5F7;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    height: 65px;
    align-items: center;
    padding: 25px 70px 25px 20px;
    position: relative;
    transition: all 0.6s;
    &:after {
	    position: absolute;
	    right: 20px;
	    top: 50%;
	    display: inline-block;
	    border: solid #939393;
	    border-width: 0 0 2px 2px;
	    display: inline-block;
	    padding: 2px;
	    transform: translateY(-50%) rotate(-45deg);
	    -webkit-transform: translateY(-50%) rotate(-45deg);
	    transition: all .25s;
	    content: "";
		}
		&.active {
			&:after {
		    transform: translateY(-50%) rotate(135deg);
		    -webkit-transform: translateY(-50%) rotate(135deg);
			}
		}
	}
	&-cnt {
		display: none;
    padding: 25px 70px 25px 20px;
	}
}