@charset "UTF-8";
/* -------------------
	BREADCRUMB
--------------------*/
.breadcrumbWrap {
  @include mq() {
    margin-top: 50px;
    padding: 0 20px;
  }
}
.breadcrumb {
  margin-bottom: 10px;
  @include mq() {
    white-space: nowrap;
    overflow-x: auto;
  }
  &-wrapper {
    padding-top: 15px;
    @include mq() {
      padding: 0 0 5px 0; 
    }
  }
  ul {
    li {
      display: inline-block;
      font-size: fs(12);
      position: relative;
      padding-right: 20px;
      color: #000;
      a {
        display: inline-block;
        color: #000;
        // text-decoration: underline;
        // transition: all .3s;
        &:hover{
          &:after {
            background-color: #A8A8A8;
            width: 0;
          }
        }
        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: calc(100% - 20px);
          height: 1px;
          background-color: #000;
          transition: all .3s;
          content: "";
        }
      }
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
      &:before {
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 4px;
        width: 6px;
        height: 10px;
        background: url(../images/common/arrow-right.svg) center center / 100% 100% no-repeat;
        content: "";
      }
      @include mq() {
        margin-bottom: 8px;
      }
      a {
        transition: all .3s;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}