@charset "UTF-8";
// ===========================
// FORM, INPUT, 
// CHECKBOX, SELECT, ...
// ===========================

// Form, input, checkbox
.form-one {
  position: relative;
}


.input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 14px 40px 14px 12px;
  color: #606060;
  background-color: #F8F8F8;
  border: 1px solid #606060;
  font-size: fs(15);
  line-height: 1;
  transition: all .3s;
  font-family: $font-base;
  // font-weight: bold;
  &:focus,
  &.active {
    border-color: #000;
    color: #000;
  }
  &.textarea {
    height: 140px;
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
        appearance: none;
  background: #F8F8F8 url(../images/common/arrow-down.svg) right 15px center / 8px 7px no-repeat;
  font-family: $font-base;
  cursor: pointer;
  &:focus {
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
      display: none;
  }
}

.checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it
  &.type2 {
    & + label {
      color: #B45067;
      &:after {

      }
      &:before {
        border-color: #B45067;
      }
    }
    &:checked + label:before {
      background-color: #B45067;
      border-color: #B45067;
    }
  }

  &+label {
    position: relative;
    cursor: pointer;
    padding: 4px 0 4px 32px;
    font-size: fs(15);
    font-weight: bold;
    color: #606060;
  }

  // Box.
  &+label:before {
    top: 0;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: #fff;
    border: 2px solid #606060;
    content: '';
    @include mq() {
    	// top: -8px;
  	}
  }
  // &:hover {
  //   & + label {
  //     color: #B45067;
  //     &:after {

  //     }
  //   }
  // }
  &:checked + label:before {
    background-color: #606060;
    border-color: #606060;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 11px;
    background: #FAFCD7;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #FAFCD7,
      4px 0 0 #FAFCD7,
      4px -2px 0 #FAFCD7,
      4px -4px 0 #FAFCD7,
      4px -6px 0 #FAFCD7,
      4px -8px 0 #FAFCD7;
    transform: rotate(45deg);
    @include mq() {
    	top: 11px;
  	}
  }
}

.search {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../images/common/icon-search.svg) 100% 100% no-repeat;
  content: "";
}

.form-action {
  display: flex;
  justify-content: center;
}

.btnSM {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  @include mq(sm2) {
    padding: 10px 0;
  }
  span {
    display: block;
    padding-top: 22px;
    background: url(../images/common/icon-search.svg) top center no-repeat;
    text-align: center;
    @include mq(sm2) {
      padding: 0 0 0 30px;
      background-position: left center; 
    }
  }
}