@charset "UTF-8";
/* -------------------
  THUMBNAIL, IMAGE
--------------------*/
.thumb {
	&-wrapper {
		
	}
	&-ttl {
		margin-top: 10px;
	}
}


.iframe {
	text-align: center;
	@include mq() {
		padding: 0;
	}
	iframe {
		width: 100%;
		height: 394px;
		
		@include mq() {
			height: 400px;
		}
		@include mq(sm2) {
			height: 250px;
		}
	}
}