@charset "UTF-8";
/* -------------------
  TABS
--------------------*/

.tabs {
  &-navWrapper {
    @include mq() {
      white-space: nowrap;
      overflow-x: auto;
    }
  }

  &-nav {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    
  }

  &-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 25%;
    padding: 12px 15px;
    font-size: fs(18);
    font-weight: bold;
    font-family: $font-c;
    border-bottom: solid 2px #DDDDDD;
    color: #606060;
    background: none;
    cursor: pointer;
    text-align: center;transition: all .3s;
    @include mq(sm2) {
      padding: 3px;
      font-size: fs(12);
    }
    span {
      display: block;
      font-size: fs(13);
      font-weight: normal;
    }

&:hover {
  color: #000;
  border-bottom-color: #000;
}

&.active {
  color: #000;
  border-bottom-color: #000;
}
}

&-cnt {
  background-color: #fff;
}
}