@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  font-size: fs(13) !important;
  @include mq(sm2) {
    overflow-x: auto;
    font-size: fs(11) !important;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    border-top: 1px solid #E6EEF2;
    border-bottom: 1px solid #E6EEF2;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 185px;
    text-align: left;
    @include mq(sm2) {
      display: block;
      width: 100%;
      border-bottom: 0;
      padding: 15px 0 5px;
    }
  }

  td {
    border-top: 1px solid #E6EEF2;
    border-bottom: 1px solid #E6EEF2;
    box-sizing: border-box;
    padding: 20px 15px;
    @include mq(sm2) {
      display: block;
      width: 100%;
      border-top: 0;
      border-bottom: 0;
      padding: 0 0 15px;
    }
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
  
}