@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(32);
    line-height: 1.8;
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
    }
  }
  h3 {
  	padding: 15px;
    background-color: #ECECEF;
    border-top: solid 1px #000000;
    font-size: fs(18);  
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);  
    }
  }
  h4 {
  	position: relative;
    font-size: fs(15);
    line-height: 1.8;
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(14);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(13);
    line-height: 1.8;
    @include mq() {
      font-size: fs(12);
    }
  }
  a {
    // color: #7B7B6C;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: fs(13) !important;
    @include mq(sm2) {
      overflow-x: auto;
      font-size: fs(11) !important;
    }
    th {
      border-top: 1px solid #E6EEF2;
      border-bottom: 1px solid #E6EEF2;
      box-sizing: border-box;
      font-weight: 700;
      padding: 20px 15px;
      padding-left: 0;
      width: 185px;
      text-align: left;
      @include mq(sm2) {
        display: block;
        width: 100%;
        border-bottom: 0;
        padding: 15px 0 5px;
        padding-left: 0;
      }
    }

    td {
      border-top: 1px solid #E6EEF2;
      border-bottom: 1px solid #E6EEF2;
      box-sizing: border-box;
      padding: 20px 15px;
      @include mq(sm2) {
        display: block;
        width: 100%;
        border-top: 0;
        border-bottom: 0;
        padding: 0 0 15px;
      }
    }
  }

  ul {
    padding-left: 0;
    li {
      position: relative;
      padding-left: 14px;
      font-size: 13px;
      line-height: 1.7;
      list-style: none;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #A8A8A8;
        content: "";
      }
    }
  }
  ol {
    padding-left: 15px;
    li {
      position: relative;
      font-size: 13px;
      line-height: 1.7;
    }
  }

}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.ttl-bold {
  font-size: fs(15);
  font-weight: bold;
  line-height: 1.8;
  @include mq(sm2) {
    font-size: fs(13);
    line-height: fs(19);
  }
}

.ttl-bold2 {
  font-size: fs(18);
  font-weight: bold;
  line-height: 1.6;
  @include mq(sm2) {
    font-size: fs(15);
  }
}

.ttl-blue {
  display: inline-block;
  position: relative;
  font-size: fs(32);
  font-family: $font-a;
  font-weight: bold;
  line-height: 1.8;
  cursor: pointer;
  @include mq() {
    font-size: fs(21);
  }
  span {
    background: url(../images/common/blue-line.jpg) left bottom / 100% 12px repeat-x;
  }
}

.ttl-column {
  position: relative;
  padding: 14px;
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  // color: #88E51C;
  // &:before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 16px;
  //   height: 16px;
  //   background: url(../images/common/icon-triangle-sm-green.svg) no-repeat;
  //   content: "";
  // }
  &--icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    svg {
      width: 100%;
    }
  }
  .view-more {
    margin-left: 8px;
  }
  &.type2 {
    padding: 8px;
    font-size: fs(13);
    line-height: fs(23);
    color: #000 !important;
    &:before {
      width: 10px;
      height: 10px;
    }
  }
  // &.yellow {
  //   // color: #CCBF15;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-yellow.svg);
  //   }
  // }
  // &.yellow2 {
  //   // color: #CCBF15;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-yellow2.svg);
  //   }
  // }
  // &.blue {
  //   // color: #6BA0C3;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-blue.svg);
  //   }
  // }
  // &.red {
  //   // color: #E68B8B;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-red.svg);
  //   }
  // }
  // &.blue2 {
  //   // color: #1CD5E5;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-blue2.svg);
  //   }
  // }
  // &.purple {
  //   // color: #C19FE8;
  //   &:before {
  //     background-image: url(../images/common/icon-triangle-sm-purple.svg);
  //   }
  // }
  &.gray {
    color: #000;
    // &:before {
    //   background-image: url(../images/common/icon-triangle-sm-gray.svg);
    // }
  }
  &.green {
    color: #000;
    // &:before {
    //   background-image: url(../images/common/icon-triangle-sm-green2.svg);
    // }
  }
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.ttl-line-green {
  font-size: fs(14);
  font-weight: bold;
  line-height: 1.8;
  a, span {
    position: relative;
    display: inline;
    padding-bottom: 5px;
    background: linear-gradient(90deg, #88E51C, #88E51C) no-repeat;
    background-size: 100% 2px;
    background-position: right bottom;
    transition: all .3s;
    &:hover {
      background-size: 0 2px;
    }
  }
}

.ttl-line-green2 {
  font-size: fs(14);
  font-weight: bold;
  line-height: 1.8;
  a, span {
    position: relative;
    display: inline;
    padding-bottom: 8px;
    background: linear-gradient(90deg, #057475, #057475) no-repeat;
    background-size: 100% 4px;
    background-position: right bottom;
    transition: all .3s;
    &:hover {
      background-size: 0 2px;
    }
  }
}

.ttl-ani-underline {
  position: relative;
  display: inline-block;
  transition: all .3s;

  &Wrap {
    &:hover {
      .ttl-ani-underline {
        &:after {
          width: 100%;
        }
      }
    }
  }
  
  &:hover{
    &:after {
      width: 100%;
    }
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: all .3s;
    content: "";
  }
}

.ttl-border-left {
  font-size: fs(24);
  line-height: 1.7;
  font-weight: bold;
  padding: 2px 12px;
  border-left: solid 4px #D5D5D5;
}

.icon-blank {
  display: inline-block;
  margin-left: 3px;
  width: 9px;
  height: 9px;
  background: url(../images/common/icon-blank-black.svg) center center / 100% no-repeat;
}
/* -------------------
  Description
--------------------*/
.txt-bold {
  font-weight: bold;
}

.txt-list {
  position: relative;
  padding-left: 16px;
  color: #A8A8A8;
  font-size: fs(15);
  line-height: 1.7;
  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 12px;
    height: 1px;
    background-color: #A8A8A8;
    content: "";
  }
}

.desc {
	font-size: fs(15);
  line-height: fs(26);
  @include mq() {
    font-size: fs(12);
    line-height: fs(19);
  }
}

.desc2 {
  font-size: fs(13);
  line-height: fs(23);
  @include mq() {
    font-size: fs(11);
    line-height: fs(16);
  }
}

.desc3 {
  font-size: fs(16);
  line-height: fs(24);
  font-weight: bold;
  @include mq() {
    font-size: fs(14);
  }
}

.desc4 {
  font-size: fs(15);
  line-height: fs(26);
  font-weight: bold;
  @include mq() {
    font-size: fs(12);
    line-height: fs(19);
  }
}

.notice {
  font-size: fs(13);
  line-height: 1.6;
  font-weight: bold;
  color: #AF0202;
  @include mq() {
    font-size: fs(12);
  }
}

/* -------------------
  Section Title
--------------------*/
.section-ttl {
  position: relative;
  font-size: fs(14);
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  &.type2 {
    padding-top: 30px;
    background: url(../images/top/bg-ttl-contest.png) top center no-repeat;
  }
  span {
    display: block;
    font-size: fs(60);
    line-height: fs(75);
    color: #606060;
    font-family: $font-c;
    // -webkit-text-fill-color: #fff; 
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: #000;
    @include mq() {
      font-size: fs(40);
      line-height: fs(50);
    }
  }
  @include mq() {
	  font-size: fs(12);
	  line-height: fs(20);
  }
}

.section-title-ep {
  padding: 15px;
  background-color: #ECECEF;
  border-top: solid 1px #000000;
  font-size: fs(18);	
  font-weight: bold;
  @include mq() {
    font-size: fs(16);  
  }
}

/* -------------------
  Date, time, number
--------------------*/
.date {
  // font-size: fs(13);
  font-size: 0.9rem;
  line-height: fs(6);
  font-family: $font-c;
  font-weight: bold;
  color: #606060;
  line-height: 1.6;
  @include mq() {
    // font-size: fs(11);
  }
}

.date2 {
  font-size: 1.5rem;
  font-family: $font-c;
  font-weight: bold;
  color: #606060;
  line-height: 1.6;
  @include mq() {
    font-size: fs(14);
  }
}

.number {
  font-size: fs(14);
  line-height: fs(17);
  font-weight: bold;
  color: #606060;
  @include mq() {
    font-size: fs(13);
  }
}

.number2 {
  font-size: fs(14);
  line-height: fs(17);
  font-weight: bold;
  font-family: $font-c;
  @include mq() {
    font-size: fs(13);
  }
}

/* -------------------
  Tags, Label
--------------------*/
// .tag {
//   display: inline-block;
//   margin-right: 2px;
//   margin-bottom: 5px;
//   padding: 4px 6px;
//   background-color: #EDEBDE;
//   color: #7B7B6C;
//   border-radius: 2px;
//   font-size: fs(12);
//   line-height: fs(18);
//   transition: all .3s;

//   &:last-child {
//     margin-right: 0;
//   }

//   &:hover {
//     opacity: .8;
//   }

//   &.type2 {
//     padding: 2px 8px 1px;
//     background-color: #7B7B6C;
//     color: #fff;
//   }
// }

// .label {
//   margin-right: 10px;
//   padding: 2px 5px;
//   font-family: $font-a;
//   font-size: fs(10);
//   line-height: fs(15);
//   border: solid 1px #000;
//   background-color: #fff;
//   @include mq() {
//     padding: 1px 3px;
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }

.tag {
  display: inline-block;
  // margin-right: 2px;
  // margin-bottom: 5px;
  padding: 3px 6px;
  background-color: #fff;
  color: #606060;
  border: solid 1px #606060;
  font-size: fs(13);
  line-height: fs(18);
  font-weight: bold;
  transition: all .3s;
  @include mq(sm2) {
    padding: 2px 5px;
    font-size: fs(11);
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .8;
  }

  &.type3 {
    cursor: pointer;
    &:hover {
      background-color: #606060;
      color: #fff;
    }
  }

  &.type2 {
    padding: 2px 8px 1px;
    background-color: #7B7B6C;
    color: #fff;
  }
}

.tag2 {
  padding: 2px 12px 2px 28px;
  font-size: fs(12);
  font-weight: bold;
  border-radius: 21px;
  color: #fff;
  background: #606060 url(../images/common/icon-pen.png) left 12px center no-repeat;
  background-size: 12px 12px;
}

.label {
  padding: 2px 5px;
  font-size: fs(13);
  line-height: fs(23);
  border-top: solid 2px #1CD5E5;
  border-bottom: solid 2px #1CD5E5;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  @include mq() {
    padding: 1px 3px;
  }
  @include mq(sm2) {
    font-size: fs(11);
    line-height: fs(19);
    font-weight: bold;
  }

  &:last-child {
    margin-right: 0;
  }
}

.label-column {
  display: inline-block;
  font-size: fs(12);
  margin-bottom: 4px;
  padding: 2px 5px;
  background-color: #8C7500;
  border: solid 1px #8C7500;
  color: #fff;
  z-index: 1;
  @include mq(sm2) {
    font-size: fs(11);
    padding: 2px 4px;
  }
  &.purple {
    background-color: #8D60B4;
    border-color: #8D60B4;
  }
  &.blue {
    background-color: #6BA0C3;
    border-color: #6BA0C3;
  }
  &.blue2 {
    background-color: #0065D7;
    border-color: #0065D7;
  }
  &.green {
    background-color: #AF0202;
    border-color: #AF0202;
  }
  &.purple {
    background-color: #8D60B4;
    border-color: #8D60B4;
  }
  &.gray {
    background-color: #606060;
    border-color: #606060;
  }
  &.gray2 {
    background-color: #767676;
    border-color: #767676;
  }
  &.pink {
    background-color: #8D60B4;
    border-color: #8D60B4;
  }
  &.pink2 {
    background-color: #AC0098;
    border-color: #AC0098;
  }
  &.pink3 {
    background-color: #B45067;
    border-color: #B45067;
  }
  &.white {
    color: #606060;
    border-color: #606060;
    background-color: #fff;
  }
}

.label-map {
  padding: 3px 0 3px 20px;
  font-size: fs(12);
  font-weight: bold;
  background: url(../images/common/icon-location.svg) left center no-repeat;
}

.label-map2 {
  padding: 3px 0 3px 20px;
  font-size: fs(12);
  font-weight: bold;
  background: url(../images/common/icon-location.svg) left center no-repeat;
  background-size: contain;
}


/* -------------------
  Link, Button, Tab
--------------------*/

.link-blue {
  color: #003BFF;
  font-size: inherit;
}

.link {
  transition: all .3s;

  &:hover {
    opacity: .8;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link2 {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .8;
  } 
}
.link-icon {
  position: relative;
  padding-left: 18px;
  font-size: fs(14);
  line-height: 1;
  color: #003BFF;
  background: url(../images/common/arrow-right3.svg) left center / 8px 8px  no-repeat;
  transition: all .3s;
  @include mq(sm2) {
    font-size: fs(12);
  }
  &:hover{
    opacity: 0.7;
  }
  &.type3 {
    font-size: fs(13);
  }
  &.type4 {
    font-size: fs(13);
    background-image: url(../images/common/arrow-right4.svg);
  }
  &.blank {
    padding-right: 22px;
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: block;
      width: 9px;
      height: 9px;
      background: url(../images/common/icon-blank2.svg) right center / 9px 9px  no-repeat;
      content: "";
    }
    &.type2 {
      padding-left: 0;
      background: none;
    }
  }
  &.pdf {
    padding-right: 20px;
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.pdf2 {
    padding-right: 22px;
    &:after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      display: block;
      width: 11px;
      height: 13px;
      background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
      content: "";
    }
    &.type2 {
      padding-left: 0;
      background: none;
    }
  }
  &.excel {
    padding-right: 20px;
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-icon2 {
  position: relative;
  padding-right: 22px;
  font-size: fs(14);
  line-height: 1;
  transition: all .3s;
  @include mq(sm2) {
    font-size: fs(12);
  }
  &:hover{
    opacity: 0.8;
  }
  &.blank {
    background: url(../images/common/icon-blank2.svg) right center / 9px 9px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
  &.blank-blue {
    padding-right: 16px;
    font-size: fs(13);
    // color: #606060;
    background: url(../images/common/icon-blank-blue.svg) right center / 9px 9px  no-repeat;
  }
}

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: fs(14);
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/icon-all.svg) no-repeat top center;
  background-size: 18px 18px;
}

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .8;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.view-more {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-size: fs(13);
  font-weight: bold;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  @include mq(sm2) {
    font-size: fs(11);
    font-weight: bold;
  }
  &:hover{
    color: #606060;
    &:after {
      background-color: #606060;
      width: 0;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: all .3s;
    content: "";
  }
}

.view-more2 {
  position: relative;
  display: inline-block;
  padding: 15px 0;
  font-size: fs(13);
  font-weight: bold;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  text-align: center;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  min-width: 180px;
  z-index: 1;
  span {
    position: relative;
    z-index: 1;
  }
  &:hover{
    color: #fff;
    &:after {
      width: 100%;
    }
  }
  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: all .3s;
    content: "";
  }
}

.view-more3 {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: fs(13);
  font-weight: bold;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background-image: url(../images/common/icon-blank2.svg);
  background-repeat: no-repeat;
  background-position: right top 2px;
  @include mq(sm2) {
    font-size: fs(11);
    font-weight: bold;
  }
  &:hover{
    color: #606060;
    &:after {
      background-color: #606060;
      width: 0;
    }
  }
  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: all .3s;
    content: "";
  }
}

.btn-viewmore {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: fs(13);
  color: #fff;
  font-weight: bold;
  background-color: #606060;
  text-align: center;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .8;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

// news
.btn-white {
  padding: 20px 80px;
  border: solid 2px #000;
  background-color: #fff;
  font-size: fs(18);
  font-weight: bold;
  @include mq(sm2) {
    padding: 15px;
    width: 100%;
    display: block;
    text-align: center;
  }
  span {
    display: inline-block;
    padding-left: 34px;
    background: url(../images/top/icon-book.svg) left center / 21px 19px no-repeat;
  }
}


.vertical-line {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  &:before {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: block;
    width: 1px;
    height: 28px;
    background: #D5D5D5;
    content: "";
    @include mq() {
      top: -18px;
    }
  }
}

.btn-guide {
  display: inline-block;
  min-width: 158px;
  padding: 15px 20px;
  font-size: fs(13);
  border-radius: 2px;
  background-color: #003BFF;
  color: #fff;
  font-weight: bold;
  transition: all .3s;
  text-align: center;
  &:hover {
    opacity: .8;
    span {
      &:after {
        right: -3px;
      }
    }
  }
  &.type2 {
    background-color: #3F57A5;
  }
  span {
    position: relative;
    display: inline-block;
    padding-right: 14px;
    &:after {
      position: absolute;
      right: 0;
      top: calc(50% - 4px);
      display: block;
      width: 8px;
      height: 8px;
      background: url(../images/common/arrow-right-white.svg) no-repeat;
      content: "";
      transition: all .3s;
    }
  }
}

.btn-guideCtrl {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 176px;
  height: 43px;
  line-height: 43px;
  font-size: fs(13);
  font-weight: bold;
  background-color: #0065D7;
  border-radius: 2px;
  text-align: center;
  transition: all .25s;
  &:hover {
    background-color: #606060;
  }
  &:focus {
    background-color: #0065D7;
  }
  &:before {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-plus.svg) center center no-repeat;
    content: "";
  }
  &.active {
    background-color: #606060 !important;
    &:before {
      background-image: url(../images/common/icon-minus.svg);
    }
  }
  &.green {
    background-color: #057475;
    &:hover {
      background-color: #606060;
    }
    &:focus {
      background-color: #057475;
    }
  }
  &.red {
    background-color: #B64543;
    &:hover {
      background-color: #606060;
    }
    &:focus {
      background-color: #B64543;
    }
  }
}


.btn-blank {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 250px;
  height: 60px;
  line-height: 60px;
  font-size: fs(13);
  font-weight: bold;
  background-color: #606060;
  border-radius: 2px;
  text-align: center;
  transition: all .25s;
  &.type2 {
    color: #606060;
    background-color: #DDDDDD;
    &:before {
      background-image: url(../images/common/icon-blank2.svg);
    }
  }
  &:hover {
    opacity: .8;
  }
  &:before {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-blank-white.svg) center center no-repeat;
    content: "";
  }
}
/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }