@charset "UTF-8";
/* -------------------
  COMMON
--------------------*/

// =========================================
// Font family
// =========================================

@font-face{
  font-family: din-pro;
  src: url('../font/din-pro/din-pro.eot'); // IE9 Compat Modes
  src: url('../font/din-pro/din-pro.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../font/din-pro/din-pro.woff2') format('woff2'),  Super Modern Browsers 
       url('../font/din-pro/din-pro.woff') format('woff'), // Pretty Modern Browsers
       url('../font/din-pro/din-pro.ttf')  format('truetype'), // Safari, Android, iOS
       url('../font/din-pro/din-pro.svg#svgFontName') format('svg'); // Legacy iOS
}

@font-face{
  font-family: rockwell;
  src: url('../font/rockwell/Rockwell.eot'); // IE9 Compat Modes
  src: url('../font/rockwell/Rockwell.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../font/rockwell/Rockwell.woff2') format('woff2'),  Super Modern Browsers 
       url('../font/rockwell/Rockwell.woff') format('woff'), // Pretty Modern Browsers
       url('../font/rockwell/Rockwell.ttf')  format('truetype'), // Safari, Android, iOS
       url('../font/rockwell/Rockwell.svg#svgFontName') format('svg'); // Legacy iOS
}

body {
  font-family: $font-base;
  font-weight: 500;
  &.fixed {
    height: 100vh;
    overflow: hidden;
    // display: flex;
  }
  &.en {
    font-weight: normal;
  }
}

// =========================================
// FONT
// =========================================
.en {
  font-family: $font-a;
}

// =========================================
// POSITION
// =========================================
.relative {
  position: relative;
}


// =========================================
// CONTROL VIEW ELEMENT
// =========================================

.pc-only {
  display: block;

  @include mq() {
    display: none !important;
  }
}

.pc-only2 {
  display: inline-block;

  @include mq() {
    display: none !important;
  }
}

.pc-only3 {
  display: block;

  @include mq(sm2) {
    display: none !important;
  }
}

.sp-only {
  display: none !important;

  @include mq() {
    display: block !important;
  }
}

.sp-only3 {
  display: none !important;

  @include mq(sm2) {
    display: block !important;
  }
}

// =========================================
// WRAPPER
// =========================================
.wrapper {
  // min-width: 1480px;
  padding-top: 150px;
  background-color: #ECECEF;
  overflow: hidden;
  &.type2 {
    min-width: 1200px;
    overflow: auto;
    @include mq() {
      min-width: 100%;
    }
  }
  @include mq(pc) {
    // padding-top: 0;
  }
  @include mq() {
    // min-width: 100%;
    padding-top: 100px;
  }
}

// =========================================
// MAIN
// =========================================
.main {
  // padding-bottom: 80px;
  // background-color: #ECECEF;
}

// =========================================
// CONTAINER
// =========================================
.container {
  position: relative;
  width: vw(1480);
  max-width: 1460px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container2 {
  position: relative;
  width: 1040px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container3 {
  position: relative;
  width: vw(1240);
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container4 {
  position: relative;
  width: vw(740);
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
}

.container5 {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding: 0 20px;
  }
}

.container6 {
  position: relative;
  width: 880px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
    padding: 0 20px;
  }
}