@font-face {
    font-family: 'Alte DIN 1451 Mittelschrift gepraegt';
    src: url('AlteDIN1451Mittelschriftgepraegt.eot');
    src: url('AlteDIN1451Mittelschriftgepraegt.eot?#iefix') format('embedded-opentype'),
        url('AlteDIN1451Mittelschriftgepraegt.woff2') format('woff2'),
        url('AlteDIN1451Mittelschriftgepraegt.woff') format('woff'),
        url('AlteDIN1451Mittelschriftgepraegt.ttf') format('truetype'),
        url('AlteDIN1451Mittelschriftgepraegt.svg#AlteDIN1451Mittelschriftgepraegt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

