// Slide button control
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  width: vw(50);
  height: vw(50);
  transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  background-color: #fff;
  z-index: 1;
  transition: all .3s;
  cursor: pointer;
  &.type2 {
    background-color: transparent;
  }

  @include mq() {
    width: 10.5vw;
    height: 10.5vw;
    top: 35vw;
    &.type2 {
      top: 50%;
      width: 2.5vw;
      height: 2.5vw;
      transform: translate(0,-50%);
      -webkit-transform: translate(0,-50%);
      // span {
      //   background-size: contain;
      // }
    }
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/common/icon-next.svg) center center no-repeat;
    @include mq() {
      &.top {
        background-size: 3vw 3vw;
      }
      background-size: contain;
    }
  }
}

.slick-prev {
  left: 0;

  @include mq() {
    left: 10.5vw;
    &.type2 {
      left: 0;
    }
  }

  span {
    background-image: url(../images/common/icon-prev.svg);
    // @include mq() {
    //   background-size: contain;
    // }
  }
}

.slick-next {
  right: 0;
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  @include mq() {
    right: 10.5vw;
    &.type2 {
      right: 0;
    }
  }

  span {
    &:before {
      left: 20px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    }
    // @include mq() {
    //   background-size: contain;
    // }
  }

  @media all and (-ms-high-contrast:none) {

    /* IE10 */
    span {
      &:before {
        left: 15px;
      }
    }

    *::-ms-backdrop,
    span {
      &:before {
        left: 15px;
      }
    }

    /* IE11 */
  }
}


.slick-dots {
  position: absolute;
  bottom: .8vw;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-top: 15px;
  @include mq() {
    margin-top: 0;
    bottom: 20px;
  }
  li {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    button {
      position: relative;
      display: inline-block;
      width: 6px;
      height: 6px;
      font-size: 0;
      background-color: #A8A8A8;
      border-radius: 50%;
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #A8A8A8;
        border-radius: 50%;
        content: "";
      }
    }
    &.slick-active {
      button {
        &:before {
          width: 6px;
          height: 6px;
          background-color: #000;
        }
      }
    }
  }
}



// slider type2
.slick2 {
  .slick-dots {
    bottom: 35px;
  }
  .slick-prev, .slick-next {
    top: auto;
    bottom: 23px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    width: 18px;
    height: 18px;
    @include mq(sm2) {
      span {
        background-size: contain;
      }
    }
  }
  .slick-prev {
    left: 40%;
    @include mq(sm2) {
      left: 20%;
    }
  }
  .slick-next {
    right: 40%;
    @include mq(sm2) {
      right: 20%;
    }
  }
}




// Slick slider top Scale animation
.main-mv--slider {
  .slick-slide {
    overflow: hidden;
  }
  img {
    transition: all 2.5s ease-in-out;
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  .main-mv--slider-cnt {
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
  }
  .slick-active {
    img {
      transform: scale(1, 1);
      opacity: 1;
    }
    .main-mv--slider-cnt {
      opacity: 1;
    }
  }
}
