// Custom date picker
.ui-datepicker {
	background-color: #fff;
  padding: .8em .5em .3em;
}

.ui-datepicker .ui-datepicker-title {
  font-size: fs(14);
}

.ui-widget.ui-widget-content {
	border-radius: 5px;
}


.ui-widget-header {
  border: none;
  background: inherit;
  color: #333;
  font-weight: bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background: #F8F8F8;
    color: #A8A8A8;
    text-align: center;
    padding: 5px 14px;
    font-size: fs(14);
    width: 100%;
    display: block;
}

.ui-datepicker td {
  // width: 100%;
  text-align: center;
      border: 0;
    padding: 1px;
}

.ui-datepicker th {
    padding: .7em .3em .2em;
    text-align: center;
    border: 0;
    color: #000000;
    font-size: fs(12);
}

.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
  cursor: pointer;
  &:hover {
    border: none;
    background-color: #fff;
  }
}

.ui-datepicker .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    left: .5em;
    top: .3em;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 70%;
    margin-left: -8px;
    top: 58%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-next span {

}

// .ui-datepicker .ui-datepicker-prev span, 
// .ui-datepicker .ui-datepicker-next span {
// 	margin-top: -6px;
// }

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 9px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-icon {
  width: 10px;
  height: 10px;
}

.ui-widget-content .ui-icon {
    background: url(../images/common/icon-arrow-left.svg) left center no-repeat;
    background-size: contain;
}

.ui-datepicker .ui-datepicker-next .ui-icon {
	background-image: url(../images/common/icon-arrow-right.svg)
}

.ui-widget-content .ui-state-default:hover {
	border: 0px;
	text-align: center;
	background: #FFFE00;
	color: #000000;
}

.ui-widget-content .ui-state-active {
	border: 0px;
	background: #606060;
	color: #fff;
}