@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	&-inner {
		position: relative;
		background-color: #fff;
		&--corner {
			position: absolute;
			width: 20px;
			height: 20px;
			background: url(../images/common/f-corner01.svg) no-repeat;
			z-index: 1;
			&.corner01 {
				top: 0;
				left: 0;
			}
			&.corner02 {
				top: 0;
				right: 0;
				background-image: url(../images/common/f-corner02.svg);
			}
			&.corner03 {
				bottom: 0;
				right: 0;
				background-image: url(../images/common/f-corner04.svg);
			}
			&.corner04 {
				left: 0;
				bottom: 0;
				background-image: url(../images/common/f-corner03.svg);
			}
		}
	}
	&-nav {
		padding: vw(50) vw(70) vw(30);
		@include mq(sm2) {
			padding: 50px 20px 30px;
		}
	}
	&-nav01 {
		display: flex;
		align-items: center;
		margin-bottom: vw(60);
		@include mq(sm2) {
			display: block;
		}
		&--logo {
			margin-right: vw(40);
			@include mq(sm2) {
				margin-right: 0;
			}
			a {
				@include mq(sm2) {
					display: flex;
					width: 100%;
				}
				img {
					width: vw(394);
					margin-right: 15px;
					@include mq(sm2) {
						width: 88vw;
						max-width: 330px;
					}
					// &:first-child {
					// 	width: vw(240);
					// 	margin-right: 15px;
					// 	@include mq(sm2) {
					// 		width: 53.33vw;
					// 	}
					// }
					// &:last-child {
					// 	width: vw(135);
					// 	@include mq(sm2) {
					// 		width: 32vw;
					// 	}
					// }
				}
			}
		}
		&--link {
			@include mq(sm2) {
				margin-top: 55px;
				margin-bottom: 60px;
			}
			ul {
				position: relative;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: space-between;
		    width: 480px;
		    max-width: 100%;
		    @include mq(sm2) {
					display: block;
				}
		    li {
			    width: 50%;
			    @include mq(sm2) {
						width: 100%;
						margin-bottom: 15px;
						&:last-child {
							margin-bottom: 0;
						}
					}
			    a {
				    display: block;
				    padding: 6px 8px 6px 32px;
				    text-align: left;
				    font-size: fs(15);
					  line-height: fs(20);
					  font-weight: bold;
				    background: url(../images/common/icon-arrow-gray.svg) left center no-repeat;
				    &:hover {
	            background-image: url(../images/common/icon-arrow-black.svg);
	          }
					}
				}
			}
		}
	}
	&-nav02 {
		ul {
			display: flex;
			flex-wrap: wrap;
			@include mq(sm2) {
				justify-content: space-between;
			}
			li {
				display: inline-block;
				margin-right: 22px;
				margin-bottom: 22px;
				@include mq() {
					flex-wrap: wrap;
					margin-bottom: 15px;
				}
				@include mq(sm2) {
					width: 48%;
					margin-right: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					position: relative;
					display: inline-block;
					font-size: fs(14);
					line-height: fs(24);
					transition: all .3s;
				  color: #000000;
				  
				  &:hover{
				    &:after {
				      background-color: #A8A8A8;
				      width: 0;
				    }
				  }
				  &:after {
				    position: absolute;
				    right: 0;
				    bottom: 0;
				    width: 100%;
				    height: 1px;
				    background-color: #000;
				    transition: all .3s;
				    content: "";
				  }
				}
			}
		}
	}
	&-banner {
		padding: vw(50) vw(70);
		border-top: solid 2px #ECECEF;
		@include mq(sm2) {
			padding: 50px 20px 30px;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			li {
				width: 16.66%;
				padding: 0 10px; 
				margin-bottom: 20px;
				@include mq(sm2) {
					width: 50%;
				}
				a {
					display: flex;
			    align-items: center;
			    justify-content: center;
			    width: 100%;
			    height: 7.2vw;
			    overflow: hidden;
			    @include mq(sm2) {
						height: 23.73vw;
					}
					img {
						width: auto;
				    height: auto;
				    max-width: 100%;
				    max-height: 100%;
				    margin: 0 auto;
					}
				}
			}
		}
	}
	&-copyWrap {
		padding: 50px 0;
		@include mq(sm2) {
			padding: 50px 20px;
		}
	}
	&-copy {
		display: flex;
		justify-content: space-between;
		@include mq(sm2) {
			display: block;
		}
		&--logo {
			width: vw(254);
			@include mq(sm2) {
				display: block;
				width: 67.7vw;
				max-width: 254px;
				margin: 0 auto 15px;
			}
			img {
				width: 100%;
			}
		}
		&--txt {
			font-size: fs(12);
			line-height: 1.5;
			color: #B4B4B4;
			font-family: Arial, Helvetica, sans-serif;
			@include mq(sm2) {
				font-size: fs(10);
				line-height: fs(11);
			}
		}
	}


}

.en {
	.footer-nav01--link ul {
		width: 300px;
	}
	.footer-copy--logo {
		width: 20vw;
		@include mq(sm2) {
			width: 100%;
			max-width: 100%;
		}
	}
}