@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  // width: 100vw;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5vw;
  padding-right: 2.2vw;
  font-size: fs(15);
  line-height: fs(20);
  font-weight: bold;
  z-index: 9999;
  transition: all .3s;

  &.active {
    position: fixed;
    background: #fff;
    color: #394255;
    height: 156px;
    box-shadow: 0 4px 2px -2px #bdc6db;
    border-radius: 5px;
    // @include mq() {
    //   height: 90px;
    // }
    // @include mq(sm2) {
    //   height: 60px;
    // }
  }

  &.bg-white {
    height: 98px;
    background: rgba(255, 255, 2555, .95);
    color: #394255;

    @include mq() {
      height: 90px;
    }

    @include mq(sm2) {
      height: 60px;
    }
  }

  @include mq(pc) {
    position: absolute;
  }

  @include mq() {
    height: 100px;
    padding: 0 15px;

    &.open {
      background-color: #fff;
    }
  }

  &-logo {
    width: 30.25vw;
    max-width: 400px;
    padding-bottom: 15px;

    @include mq() {
      padding-bottom: 5px;
    }

    a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      @include mq() {
        width: auto;
      }

      img {
        width: 100%;
        margin-right: 10px;

        @include mq() {
          width: 64vw;
          max-width: 242px;
        }
      }
    }
  }

  &-menu {
    display: flex;

    &.type2 {
      padding-right: 80px;
    }

    @include mq() {
      position: fixed;
      top: 0;
      right: 0;
      width: calc(100vw - 60px);
      height: 100vh;
      background-color: #fff;
      // border-top: solid 1px #E3E3E3;
      padding: 80px 0 200px;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      overflow-y: auto;

      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        z-index: 9999;
      }
    }

    // &.type2 {
    //   transform: translateY(-100%);
    //   -webkit-transform: translateY(-100%);
    //   transition: all .25s ease;
    //   &.active {
    //     transform: translateY(0);
    //   -webkit-transform: translateY(0);
    //   }
    // }
    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 430px;

      &:after {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        width: 1px;
        height: 90px;
        background-color: #A8A8A8;
        content: "";
      }

      &.type2 {
        &:after {
          display: none;
        }
      }

      @include mq() {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }

      &.active {
        li {
          a {
            padding: 4px 8px 4px 22px;
            font-size: fs(13);
            background-size: 12px 12px;
          }
        }

        &:after {
          height: 70px;
        }
      }

      li {
        width: 50%;

        &:nth-child(2n + 2) {
          width: 40%;
        }

        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
        }

        a {
          display: block;
          padding: 6px 8px 6px 32px;
          text-align: left;
          font-size: fs(15);
          background: url(../images/common/icon-arrow-gray.svg) left center no-repeat;

          &:hover {
            background-image: url(../images/common/icon-arrow-black.svg);
          }
        }
      }
    }

  }

  &-sns {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 190px;
    color: #000000;
    transition: all .3s;

    @include mq() {}

    a {
      display: flex;
      align-items: center;
      margin: 0 10px;
      width: 30px;

      img {
        width: 100%;
      }
    }
  }

  &-ctrl {
    position: fixed;
    top: 20px;
    // right: 20px;
    right: 30px;
    width: 39px;
    height: 30px;
    transition: all .3s;
    z-index: 9999;
    display: none;

    @include mq() {
      display: block;
      top: 35px;
      right: 24px;
    }

    &.show {
      top: 60px;
      display: block !important;

      &:after {
        position: absolute;
        top: -16px;
        left: -10px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        content: "";
        z-index: -1;
      }
    }

    &.active {
      @include mq(sm2) {
        top: 19px;
      }
    }

    &.type2 {
      span {
        &:nth-child(1) {
          // top: 1px;
        }

        &:nth-child(3) {
          top: 25px;
        }

        &:nth-child(2) {
          padding-left: 1px;
        }

        &._en {
          padding-left: 3px;
        }
      }
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      &:not(:nth-child(2)) {
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        width: 39px;
        background: #000;
        transition: .3s ease;
      }

      &:nth-child(1) {
        top: 0;

        @include mq() {
          top: -2px;
        }
      }

      &:nth-child(2) {
        font-size: fs(12);
        font-weight: bold;
        text-align: center;
      }

      &:nth-child(3) {
        top: 21px;
        left: 0;
      }

      &._en {
        padding-left: 3px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(35deg);
        }

        &:nth-child(2) {
          // opacity: 0;
          top: 6px;
          transform: rotate(-35deg);
        }

        &:nth-child(3) {
          opacity: 0;
          // top: 6px;
          // transform: rotate(-45deg);
        }
      }
    }
  }

  &-access {
    padding: 40px 13vw;
    text-align: center;

    &--logo {
      width: 40vw;
      max-width: 150px;
      margin: 0 auto 30px;
    }

    &--address {
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 2;
      text-align: left;
    }

    &--direct {
      font-size: 12px;
    }
  }

}

.en {
  font-family: $font-c;

  .ttl-blue {
    font-family: $font-c;
  }

  .header {
    &-menu {
      ul {
        width: 170px;
      }

      li {
        width: 100% !important;

        a {
          // padding: 6px 8px 6px 32px;
          // font-size: fs(15);
        }
      }
    }
  }

  .main-mv--news-ttl {
    font-family: $font-c;
    color: #606060;
    border-color: #606060;
  }
}