.form-searchWrap {
	position: relative;
	@include mq(sm2) {
		margin: 0 -20px;
	}
	&--contact {
		position: fixed;
		top: 400px;
		right: 20px;
		width: 140px;
		z-index: 1;
		@include mq() {
	    position: absolute;
	    width: 92px;
	    height: 92px;
	    bottom: -15px;
	    transform: translateY(100%);
	    -webkit-transform: translateY(100%);
	    top: auto;
	    right: 0;
	  }
	  @include mq(sm2) {
			bottom: 10px;
		}
		&-icon {
			position: relative;
			display: block;
			text-align: center;
			@include mq() {
				width: 62px;
		    margin: 0 auto -30px;
		    z-index: 1;
			}
			img {
				display: inline-block;
				width: 78px;
				margin-bottom: 18px;
				@include mq() {
					margin-bottom: 0;
				}
			}
			&:before {
				position: absolute;
				left: 0;
				top: 60%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				display: block;
				width: 33px;
				height: 47px;
				background: url(../images/common/line-dot-left2.svg) left center no-repeat;
				content: "";
				@include mq() {
					width: 12px;
					height: 20px;
					left: -14px;
					z-index: 2;
			    background-size: cover;
				}
			}
			&:after {
				position: absolute;
				right: 0;
				top: 60%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				display: block;
				width: 33px;
				height: 47px;
				background: url(../images/common/line-dot-right2.svg) right center no-repeat;
				content: "";
				@include mq() {
					width: 12px;
					height: 20px;
					right: -14px;
					z-index: 2;
			    background-size: cover;
				}
			}
		}
		&-txt {
			position: relative;
			display: block;
			padding-top: 54px;
			width: 140px;
			height: 140px;
			border-radius: 50%;
			font-size: fs(14);
			font-weight: bold;
			background: #FFFF00 url(../images/common/arrow-right.svg) bottom 24px center no-repeat;
			text-align: center;
			@include mq() {
				width: 92px;
		    height: 92px;
		    padding-top: 34px;
		    font-size: fs(12);
				background: #FFFF00;
			}
			img {
				position: absolute;
				top: -16px;
				left: calc(50% - 31px);
				width: 80px;
				height: 62px;
				@include mq() {
					display: none;
				}
			}
		}
	}
}
.form-search {
	display: flex;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	@include mq(sm2) {
		display: block;
		border-radius: 0;
	}
	&--fields {
		display: flex;
		align-items: center;
		padding: 30px;
		width: 100%;
		@include mq(sm2) {
			display: block;
			padding: 25px 20px;
		}
		&-col {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&.left {
				margin-right: 40px;
				@include mq(sm2) {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
			&.type2 {
				margin: 0 -10px 10px;
				flex-wrap: nowrap;
				@include mq() {
					flex-wrap: wrap;
				}
			}
			.select {
				min-width: 215px;
			}
			.list-checkbox {
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				li {
					margin: 5px 20px 5px 0;
				}
			}
		}
		&-inner {

		}
		&-itemWrap {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			@include mq() {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-item {
			padding: 0 10px;
			@include mq() {
				width: 100%;
			}
			&-symbol {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}
			.select {
				@include mq() {
					width: 100%;
					min-width: auto;
				}
			}
			&.calendar {
				input {
			    display: block;
			    padding-right: 58px;
			    background: #F8F8F8 url(../images/common/icon-calendar.svg) right 15px center /12px 14px no-repeat;
			    cursor: pointer;
			    &:focus,
				  &.active {
				    border-color: #000;
				    color: #000;
				  }
				}
			}
		}
	}
	&--submit {
		width: 110px;
		// background-color: #000;
		@include mq(sm2) {
			width: 100%;
			padding: 0 20px 30px;
		}
		.btnSM {
			width: 100%;
			height: 100%;
			background-color: #606060;
		}
	}
}


.p-artist {
	&--results {
		margin-top: 20px;
		&-desc {
			margin-bottom: 60px;
			padding-top: 30px;
			border-top: solid 1px #DDDDDD;
		}
		.section-contest {
			&--list {
				padding-top: 30px;
				border-top: solid 1px #DDDDDD;
				@include mq() {
					margin-left: 0;
					margin-right: 0;
				}
			}
			&--item {
				&-thumb {
					height: vw(280);
					@include mq(sm2) {
						height: 26.7vw;
					}
				}
			}
		}
		&-labelWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			@include mq() {
				display: block;
			}
		}
		&-cat {
			display: flex;
			align-items: center;
			@include mq() {
				margin-top: 22px;
			}
			li {
				position: relative;
				padding: 0 15px;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
					&:after {
						display: none;
					}
				}
				&:after {
					position: absolute;
					right: 0;
					top: 0;
					width: 1px;
					display: block;
					height: 28px;
					background-color: #A8A8A8;
					content: "";
				}
				&.active,
				&:hover {
					a {
						color: #000000;
						&:after {
							width: 100%;
						}
					}
				}
				a {
					position: relative;
					display: inline-block;
					padding-bottom: 1px;
					font-size: fs(15);
					color: #606060;
					transition: all .3s;
					@include mq(sm2) {
						font-size: fs(13);
					}
					&:after {
						position: absolute;
						left: 0;
						bottom: 0;
						width: 0;
						display: block;
						height: 1px;
						background-color: #000;
						transition: all .3s;
						content: "";
					}
				}
			}
		}
		&-label {
			font-weight: bold;
			font-size: fs(15);
			line-height: 1.5;
			span {
				display: inline-block;
				margin-right: 4px;
				font-size: fs(24);
			}
		}
	}
	&--directs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 650px;
		max-width: 100%;
		margin: 0 auto 60px;
		padding: 30px;
		background-color: #fff;
		border: solid 5px #D5D5D5;
		@include mq(sm2) {
			display: block;
			padding: 20px 15px;
		}
		&-cnt {
			width: 465px;
			max-width: 100%;
			margin-right: 20px;
			@include mq(sm2) {
				margin-bottom: 8px;
				.ttl-bold {
					margin-bottom: 8px;
				}
				.desc2 {
					margin-bottom: 5px;
				}
			}
		}
		&-link {
			@include mq(sm2) {
				text-align: center;
			}
		}
	}
}
