.p-column {
  &--cnt {
    @include mq(sm2) {
      .section-column--inforWrap {
        display: block;
      }

      .section-column--item-thumbWrap {
        width: 100%;
        height: 50vw;
      }
    }
  }

  &--row {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    @include mq(sm2) {
      display: block;
      margin: 0;
    }
  }

  &--item {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 20px;

    @include mq(sm2) {
      width: 100%;
      padding: 0;
    }

    &-thumbWrap {
      height: 162px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq(sm2) {
        height: 50vw;
      }
    }

    &-ttl {
      margin-top: 15px;
      font-size: fs(15);
      line-height: 1.7;
    }
  }

  &--detail {
    position: relative;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;

    @include mq() {
      width: 100%;
    }

    &-subTtlWrap {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	.ttl-line-green {
    		margin-right: 40px;
    	}	
    }

    &-head {
      margin: 60px 0 40px;

      @include mq() {
        margin: 10px 0 20px;
        padding: 0 20px;
      }

      .p-end--ttl2 {
        margin-bottom: 10px;

        @include mq() {
          margin: 10px 0;
        }
      }

      .date {
        margin-bottom: 15px;
      }
    }

    &-cnt {
      display: flex;
      margin-bottom: 60px;
      border-top: solid 1px #DDDDDD;
      @include mq() {
        display: block;
      }
    }

    &-sidebar {
      width: 280px;
      padding: 10px 0 50px;
      flex-shrink: 0;
      border-left: solid 1px #D5D5D5;

      @include mq() {
        width: 100%;
        padding: 20px 40px 50px;
        border-top: 1px solid #E6EEF2;
        border-left: 0;
      }

      .form-search {
        display: flex;
        flex-flow: column;
        border-radius: 0;

        &--fields {
          padding: 0;

          @include mq() {
            justify-content: center;
          }

          &-col {
            display: flex;
            flex-flow: column;

            @include mq() {
              margin-bottom: 25px;

              .list-checkbox {
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                  width: 46%;
                  margin-right: 0;
                  margin-left: 0;
                }
              }
            }
          }

          &-itemWrap {
            margin: 0 -10px;

            &.type2 {
              display: block;

              .form-search--fields-item {
                // padding:;
              }
            }
          }

          &-item {
            margin-bottom: 10px;

            &.type2 {
              margin-bottom: 0;
            }

            &.calendar {
              input {
                padding-right: 35px;
              }
            }
          }
        }

        &--submit {
          width: 100%;

          @include mq() {
            padding-right: 0;
            padding-left: 0;
          }

          .btnSM {
            border-radius: 0;
            margin-top: 25px;
            padding: 15px 10px;

            @include mq() {
              width: 40%;
              margin: 0 auto;
            }

            @include mq(sm2) {
              width: 100%;
            }

            span {
              padding: 0 0 0 30px;
              background-position: left center;
            }
          }
        }
      }

      &-ttl {
        position: relative; 
        margin-bottom: 30px;
        font-size: fs(15);
        font-weight: bold;
        line-height: 1.7;
        color: #727272;
        padding-left: 18px;
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #727272;
          content: "";
        }
      }
      .ttl-line-green {
        margin-bottom: 20px;
      }
      &-list {

      }
      &-item {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        &-thumb {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 108px;
          img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
          }
        }
        &-desc {
          margin-top: 10px;
          font-size: fs(13);
          line-height: 1.8;
          columns: #606060;
        }
      }
      .btn-viewmore {
        margin-top: 40px;
      }
      &-row {
        padding: 40px 60px;
        border-bottom: solid 1px #DDDDDD;
        @include mq() {
          padding: 40px 0 50px;
        }
      }
    }

    &-inner {
      background-color: #fff;
    }

    &-img {	
    	text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }
      .column_thumnail_tate {
        height: 550px;
        @include mq(sm2) {
          height: 250px;
        }
      }
    }

    &-infor {
      width: calc(100% - 280px);
      margin-bottom: 50px;
      padding: 50px 50px 0;

      @include mq() {
        width: 100%;
        padding: 30px 20px 0;
        margin-bottom: 0;
      }

      &-desc {
        margin-bottom: 35px;

        @include mq() {
          margin-bottom: 20px;
        }
      }

      &-desc2 {
        margin-bottom: 35px;

        @include mq() {
          margin-bottom: 20px;
        }
      }

      &-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-top: solid 1px #DDDDDD;
        border-bottom: solid 1px #DDDDDD;

        @include mq() {
          display: block;
          padding-bottom: 0;
        }
      }

      &-snsWrap {
        display: flex;
        align-items: center;

        @include mq() {
          justify-content: space-between;
          margin-top: 15px;
          padding: 10px 0;
          border-top: solid 1px #DDDDDD;
        }
      }
      &-sns {
      	display: flex;
      	align-items: center;
      	&-ttl {
      		margin-right: 25px;
      		font-size: fs(13);
      		font-family: $font-c;
      		color: #606060;
      	}
      	&-icons {
      		display: flex;
      		align-items: center;
      		a {
      			display: inline-block;
      			margin-right: 30px;
      			&:last-child {
      				margin-right: 0;
      			}
      			&.fb {
      				padding-bottom: 2px;
      			}
      		}
      	}
      }
      &-cnt {
        display: flex;
        padding: 15px 0;

        @include mq() {
          display: block;
        }
      }

      &-row {
        padding: 30px 0 50px;
        border-top: solid 1px #DDDDDD;
        &:last-child {
          border-top: none;
        }

        @include mq() {
          padding-bottom: 0;
        }

        iframe {
          max-width: 100%;
        }
      }

      &-inner {}

      &-thumbWrap {
        width: 240px;
        margin-left: 40px;
        flex-shrink: 0;

        @include mq() {
          width: 65vw;
          margin: 30px auto 0;
        }
      }

      &-thumb {
        height: 160px;
        overflow: hidden;

        @include mq() {
          height: 42vw;
        }
      }

      &-rowInner {
        padding: 20px;
      }
    }
  }

  &--infor {
    &-link {
      
    }
  }
}

// 
.list {
  padding: 10px 20px;
  border-top: solid 1px #D5D5D5;
  border-bottom: solid 1px #D5D5D5;
  ul {
    li {
      position: relative;
      padding-left: 14px;
      font-size: 13px;
      line-height: 1.7;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #A8A8A8;
        content: "";
      }
    }
  }
}