.p-end {
	&--banner {
		padding: 80px 0 50px;
		@include mq() {
			padding: 40px 10px 30px;
		}
	}
	&--ttl2 {
		font-size: fs(36);
		font-weight: bold;
		&.type2 {
			color: #606060;
		}
		@include mq(sm2) {
			font-size: fs(20);
		}
	}
	&--ttl3 {
		font-size: fs(60);
		font-weight: bold;
		color: #727272;
		font-family: $font-c;
		@include mq(sm2) {
			font-size: fs(40);
		}
	}
	&--ttl4 {
		font-size: fs(24);
		font-weight: bold;
		color: #727272;
		font-family: $font-c;
		// @include mq(sm2) {
		// 	font-size: fs(40);
		// }
		span {
			display: block;
			font-size: fs(36);
		}
	}
	&--ttl5 {
		span {
			display: inline-block;
			position: relative;
			padding-bottom: 5px;
			font-size: fs(36);
			font-weight: bold;
			color: #727272;
			@include mq(sm2) {
				font-size: fs(28);
			}
			&:after {
				display: block;
				width: 100%;
				height: 4px;
				left: 0;
				bottom: 0;
				background: #88E51C;
				content: "";
			}
		}
	}
	&--ttlJP {
		font-size: fs(14);
		font-weight: bold;
		margin: 20px 0 50px;
		@include mq(sm2) {
			margin: 20px 0 30px;
		}
	}
	&--ttlCategory {
		font-size: fs(36);
		font-weight: bold;
		padding-left: 42px;
		background: url(../images/common/icon-category.png) left center / 28px 28px no-repeat;
	}
	&--ttl {
		text-align: center;
		.big {
			display: inline-block;
			margin-bottom: 20px;
			font-size: fs(60);
			font-weight: bold;
			color: #727272;
			font-family: $font-c;
			@include mq(sm2) {
				font-size: fs(40);
			}
		}
		.small {
			display: block;
			font-size: fs(14);
			font-weight: bold;
		}
	}
	&--ttlIntroWrap {
		@include mq() {
			text-align: center;
		}
	}
	&--ttlIntro {
    display: inline-block;
    position: relative;
    font-size: fs(32);
    line-height: 1.5;
    font-weight: bold;
    cursor: pointer;
    @include mq() {
			text-align: center;
			margin: 0 auto;
		}
		@include mq() {
			font-size: fs(20);
		}
    &:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 15px;
	    bottom: 8px;
	    left: 0;
	    background: #fff;
	    transition: 600ms cubic-bezier(0.8, 0, 0.2, 1);
	    z-index: 0;
	    @include mq(sm2) {
				height: 12px;
		    bottom: 4px;
			}
		}
		span {
			position: relative;
			z-index: 1;
		}
	}
	&--cnt {
		&-direct {
			margin-bottom: 40px;
			text-align: right;
		}
	}
}

