.p-exhibiton {
	&--detail {
		position: relative;
	  width: 1160px;
	  max-width: 100%;
	  margin: 0 auto;
	  @include mq() {
	    width: 100%;
	  }
	  &-head {
	  	margin: 60px 0 40px;
	  	@include mq() {
		    margin: 10px 0 20px;
		    padding: 0 20px;
		  }
	  	.p-end--ttl2 {
	  		margin-bottom: 10px;
	  		@include mq() {
			    margin: 10px 0;
			  }
	  	}
	  	.date {
	  		margin-bottom: 15px;
	  	}
	  }
	  &-cnt {
	  	display: flex;
	  	margin-bottom: 60px;
	  	@include mq() {
		    display: block;
		  }
	  }
	  &-sidebar {
	  	width: 280px;
	  	padding: 50px 30px;
	  	flex-shrink: 0;
	  	border-left: solid 1px #D5D5D5;
	  	@include mq() {
		    width: 100%;
		  	padding: 20px 40px 50px;
		  	border-top: 1px solid #E6EEF2;
		  	border-left: 0;
		  }
	  	.form-search {
	  		display: flex;
	  		flex-flow: column;
  			border-radius: 0;
	  		&--fields {
	  			padding: 0;
	  			@include mq() {
	  				justify-content: center;
	  			}
	  			&-col {
		  			display: flex;
		  			flex-flow: column;
		  			@include mq() {
					    margin-bottom: 25px;
					    .list-checkbox {
					    	flex-wrap: wrap;
					    	justify-content: space-between;
					    	li {
					    		width: 46%;
					    		margin-right: 0;
					    		margin-left: 0;
					    	}
					    }
					  }
	  			}
	  			&-itemWrap {
		  			margin: 0 -10px;
	  				&.type2 {
		  				display: block;
		  				.form-search--fields-item {
		  					// padding:;
		  				}
	  				}
	  			}
	  			&-item {
	  				margin-bottom: 10px;
	  				&.type2 {
	  					margin-bottom: 0;
	  				}
	  				&.calendar {
	  					input {
		  					padding-right: 35px;
	  					}
	  				}
	  			}
	  		}
	  		&--submit {
	  			width: 100%;
  				@include mq() {
  					padding-right: 0;
  					padding-left: 0;
  				}
	  			.btnSM {
	  				border-radius: 0;
	  				margin-top: 25px;
	  				padding: 15px 10px;
	  				@include mq() {
	  					width: 40%;
	  					margin: 0 auto;
	  				}
	  				@include mq(sm2) {
	  					width: 100%;
	  				}
	  				span {
	  					padding: 0 0 0 30px;
					    background-position: left center;
	  				}
	  			}
	  		}
	  	}
	  }
	  &-inner {
		  background-color: #fff;
	  }
	  &-sliderWrap {
	  	padding: 0 50px;
	  	border-bottom: solid 1px #DDDDDD;
	  	@include mq() {
		    padding: 0 20px;
		  }
		  @include mq(sm2) {
		    border-bottom: none;
		  }
		 
	  }
	  &-slider {
  	 @include mq(sm2) {
		    height: 260px;
		  }
	  	li {
	  		a {
	  			display: flex;
	  			align-items: center;
	  			justify-content: center;
	  			// height: inherit;
		  		// height: 49vw;
	  			width: 100%;
	  			max-height: 620px;
	  			img {
	  				width: auto;
	  				height: auto;
	  				max-height: 100%;
	  				// height: 100%;
	  				max-width: 100%;
	  				@include mq(sm2) {
					    max-height: 260px;
					  }
	  			}
	  		}
	  	}
	  }
	  &-infor {
	  	margin-bottom: 50px;
	  	padding: 50px 50px 0;
	  	@include mq() {
		    padding: 30px 20px 0;
		    margin-bottom: 0;
		  }
	  	&-desc {
	  		margin-bottom: 50px;
	  		@include mq() {
			    margin-bottom: 30px;
			  }
	  	}
	  	&-label {
	  		display: flex;
	  		align-items: center;
	  		justify-content: space-between;
	  		padding: 15px 0;
	  		border-top: solid 1px #DDDDDD;
	  		border-bottom: solid 1px #DDDDDD;
	  		@include mq() {
			    display: block;
			    padding-bottom: 0;
			  }
	  	}
		  &-locationWrap {
		  	display: flex;
		  	align-items: center;
		  	@include mq() {
		  		justify-content: space-between;
		  		margin-top: 15px;
		  		padding: 10px 0;
			  	border-top: solid 1px #DDDDDD;
			  }
		  }
	  	&-cnt {
	  		display: flex;
	  		padding: 30px 0;
	  		@include mq() {
			    display: block;
			  }
	  	}
	  	&-row {
	  		padding: 30px 0 90px;
	  		border-top: solid 1px #DDDDDD;
	  		@include mq() {
			    padding-bottom: 0;
			  }
	  	}
	  	&-inner {
	  	}
	  	&-thumbWrap {
	  		width: 240px;
	  		margin-left: 40px;
	  		flex-shrink: 0;
	  		@include mq() {
			    width: 65vw;
			    margin: 30px auto 0;
			  }
	  	}
	  	&-thumb {
	  		height: 160px;
	  		overflow: hidden;
	  		@include mq() {
			    height: 42vw;
			  }
	  	}
	  	&-rowInner {
	  		padding: 20px;
	  	}
	  }
	}
}