.p-guide {
  .p-news--detail-cnt {
    display: block;
  }

  &--nav {
    @include mq(sm2) {
      padding: 20px;
      background-color: #fff;
    }

    &-list {
      display: flex;
      justify-content: flex-end;
      margin: 0 -1px;

      @include mq(sm2) {
        display: block;
        margin: 0;
        // padding: 0 20px;
      }

      li {
        padding: 0 1px;

        @include mq(sm2) {
          height: 64px;
          border-top: solid 1px #D5D5D5;
        }

        &.active {
          a {
            background-color: #fff;
            color: #000000;

            span {
              padding-bottom: 0;

              &:after {
                display: none;
              }
            }
          }
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 15px 30px;
          font-size: fs(13);
          font-weight: bold;
          border-radius: 2px 2px 0px 0px;
          color: #606060;
          background-color: #DDDDDD;

          span {
            position: relative;
            padding-bottom: 14px;
            transition: all .3s;

            &:after {
              position: absolute;
              bottom: 0;
              left: calc(50% - 3px);
              display: block;
              width: 10px;
              height: 6px;
              background: url(../images/common/arrow-down-gray.svg) no-repeat;
              transition: all .3s;
              content: "";
            }
          }

          &:hover {
            span {
              &:after {
                transform: translateY(3px);
                -webkit-transform: translateY(3px);
              }
            }
          }
        }
      }
    }
  }

  &--about {
    padding: 60px 50px;

    @include mq() {
      padding: 30px 20px;
    }

    &-list {}

    &-item {
      margin-bottom: 30px;
      border-top: solid 1px #0065D7;

      &:last-child {
        margin-bottom: 0;
      }

      &.green {
        border-color: #057475;

        ._ttl {
          color: #057475;
        }

        ._ctrl {
          &:after {
            background-color: #057475;
          }
        }
      }

      &.red {
        border-color: #B64543;

        ._ttl {
          color: #B64543;
        }

        ._ctrl {
          &:after {
            background-color: #B64543;
          }
        }
      }

      &-inner {
        padding: 0 20px;

        @include mq(sm2) {
          padding: 0;
        }
      }

      &-head {
        display: flex;
        align-items: center;
        padding: 35px 0 25px;

        @include mq(sm2) {
          display: block;
        }
      }

      &-thumbWrap {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 55px;

        @include mq(sm2) {
          margin-bottom: 20px;
          margin-right: 0;
          justify-content: center;
        }
      }

      &-thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        margin-right: 25px;

        &.type2 {
          img {
            width: 75px;
          }
        }
      }

      &-ttlWrap {}

      &-subTtl {
        font-size: fs(14);
        font-weight: bold;
      }

      &-ttl {
        font-size: fs(24);
        font-weight: bold;
        color: #0065D7;
        text-align: center;
      }

      &-intro {
        font-size: fs(15);
        font-weight: bold;

        @include mq(sm2) {
          font-size: fs(14);
        }
      }

      &-ctrl {
        position: relative;
        text-align: center;

        &:after {
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 100%;
          height: 1px;
          background-color: #0065D7;
          content: "";
        }

        .btn-guideCtrl {
          position: relative;
          z-index: 1;
        }
      }

      &-main {
        display: none;

        &-cnt {
          margin-top: 10px;

          @include mq(sm2) {
            padding: 20px 0;
          }
        }

        &-row {
          display: flex;
          padding: 30px 0;
          border-bottom: solid 1px #D5D5D5;

          @include mq(sm2) {
            display: block;
            border-bottom: none;
            padding: 0;
          }

          &:last-child {
            border-bottom: none;
          }
        }

        &-item {
          width: 50%;

          @include mq(sm2) {
            width: 100%;
            margin-bottom: 25px;
          }

          &:nth-child(2n + 1) {
            padding-right: 30px;
            border-right: solid 1px #D5D5D5;

            @include mq(sm2) {
              padding: 0;
              border-right: none;
            }
          }

          &:nth-child(2n) {
            padding-left: 30px;

            @include mq(sm2) {
              padding: 0;
            }
          }
        }

        &-ttlWrap {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          @include mq(sm2) {
            margin-bottom: 10px;
          }

          .tag2 {
            display: inline-block;
            margin-left: 10px;
          }
        }

        &-ttl {
          display: inline-block;
          padding: 0 0 0 18px;
          text-align: left;
          font-size: fs(15);
          line-height: 1.6;
          font-weight: bold;
          background: url(../images/common/icon-arrow-gray2.svg) left center no-repeat;

          &.en {
            font-family: $font-c;
          }

          transition: all .3s;

          &:hover {
            opacity: .8;
          }
        }
      }
    }

  }

  &--introduction {
    &-list {}

    &-item {
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      &-inner {
        display: flex;
        align-items: flex-start;
        padding-top: 30px;

        @include mq(sm2) {
          display: block;
        }
      }

      &-cnt {}

      &-direct {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mq(sm2) {
          display: block;
          margin-left: 0;
          margin-top: 15px;
        }

        .btn-guide {
          margin-left: 5px;

          @include mq(sm2) {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &--notices {
    margin-bottom: 50px;

    &-link {
      margin-top: 30px;
    }

    @include mq(sm2) {
      .container6 {
        padding: 0;
      }
    }
  }

  &--posting {
    padding: 60px 50px;

    @include mq() {
      padding: 30px 20px;
    }

    &-head {
      margin-bottom: 60px;

      .desc4 {
        margin-bottom: 12px;
      }

      .notice {
        margin-bottom: 25px;
      }

      &-list {
        padding: 15px 20px 10px;
        border-top: solid 1px #D5D5D5;
        border-bottom: solid 1px #D5D5D5;

        .p-insta--cnt-notices-item-subList {
          padding-left: 0;
        }
      }
    }

    &-row {
      .p-insta--cnt-notices-item-subList {
        padding-left: 0;
      }

      &-inner {
        padding: 40px 20px 55px;

        @include mq() {
          padding: 20px 0 45px;
        }
      }

      &-list {
        margin-bottom: 40px;
      }

      &-item {
        display: flex;
        align-items: center;
        // padding: 0 20px;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        &-num {
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 0 25px;
          font-family: $font-c;
          font-weight: bold;
          color: #727272;

          ._label {
            font-size: fs(16);
          }

          ._num {
            font-size: fs(36);
          }
        }

        &-infor {
          padding: 10px 0 10px 25px;
          border-left: solid 1px #D5D5D5;

          .title-lv4 {
            margin-bottom: 15px;
          }

          .desc2 {
            line-height: 1.8;
          }
        }
      }

      &-link {
        margin-top: 8px;
      }
    }
  }

  &--update {
    padding: 60px 50px;
    width: 100%;
    @include mq() {
      padding: 30px 20px;
    }

    &-head {
      .ttl-bold {
        text-align: center;
        margin-bottom: 15px;
      }

      &-direct {
        margin-bottom: 45px;
        text-align: center;

        .btn-blank {
          margin: 0 5px;
          @include mq(sm2) {
            margin: 10px 0;
          }
        }
      }
    }
    &-cnt {

    }
    &-row {
      &-inner {
        padding: 40px 20px 55px;

        @include mq() {
          padding: 20px 0 45px;
        }
      } 
      &-summary {
        margin-bottom: 30px;
        .ttl-bold {
          margin-bottom: 10px;
        }
        .notice {
          margin-bottom: 35px;
        }
        .title-lv4 {
          margin-bottom: 15px;
        }
        .p-guide--posting-head-list {
          margin: 15px 0 20px;
          padding: 15px 20px;
        }
      }
      &-list {
      }
      &-item {
        display: flex;
        margin-bottom: 40px;
        @include mq(sm2) {
          display: block;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &-thumb {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 220px;
          height: 160px;
          margin-right: 40px;
          flex-shrink: 0;
          overflow: hidden;
          @include mq(sm2) {
            width: 100%;
            height: 60vw;
            margin-bottom: 20px;
          }
          img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            @include mq(sm2) {
              width: 100%;
            }
          }
        }
        &-cnt {

        }
        &-ttl {
          position: relative;
          padding-left: 42px;
          padding-top: 3px;
          margin-bottom: 20px;
          span {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: fs(16);
            font-family: $font-c;
            font-weight: bold;
            background-color: #DDDDDD;
            color: #727272;
            text-align: center;
          }
        }
        .desc2 {
          margin-bottom: 15px;
        }
      }
    }
  }

  &--faq {
    padding: 60px 50px;

    @include mq() {
      padding: 30px 20px;
    }
    &-list {

    }
    &-item {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      &-qa {
        position: relative;
        padding-left: 44px;
        &:before {
          position: absolute;
          left: 0;
          top: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          font-size: fs(16);
          font-weight: bold;
          font-family: $font-b;
          background-color: #0065D7;
          color: #fff;
          border-radius: 50%;
          content: "Q";
        }
        &.question {
          margin-bottom: 15px;
          padding-top: 12px;
          padding-bottom: 12px;
          border-bottom: solid 1px #003BFF;
          &:before {
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
          }
        }
        &.answer {
          &:before {
            background-color: #AF0202;
            content: "A";
          }
        }
      }
    }
  }

  &--anchor {
    display: flex;
    margin-bottom: 60px;

    @include mq(sm2) {
      display: block;
      margin: 0 0 40px;
      border-bottom: solid 1px #D5D5D5;
      // padding: 0 20px;
    }

    li {
      width: 33.33%;
      border-left: solid 1px #D5D5D5;

      &:nth-child(2n + 3) {
        border-right: solid 1px #D5D5D5;

        @include mq(sm2) {
          border-right: none;
        }
      }

      @include mq(sm2) {
        width: 100%;
        border-right: none;
        border-left: none;
        border-top: solid 1px #D5D5D5;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 12px 30px;
        font-size: fs(13);
        font-weight: bold;
        border-radius: 2px 2px 0px 0px;
        color: #606060;
        @include mq(sm2) {
          padding: 20px;
        }

        span {
          position: relative;
          padding-bottom: 14px;
          transition: all .3s;
          @include mq(sm2) {
            display: block;
            width: 100%;
            padding-bottom: 0;
          }

          &:after {
            position: absolute;
            bottom: -6px;
            left: calc(50% - 3px);
            display: block;
            width: 10px;
            height: 6px;
            background: url(../images/common/arrow-down-gray.svg) no-repeat;
            transition: all .3s;
            content: "";

            @include mq(sm2) {
              bottom: 5px;
              right: 0;
              left: auto;
            }
          }
        }

        &:hover {
          span {
            &:after {
              transform: translateY(3px);
              -webkit-transform: translateY(3px);
            }
          }
        }
      }
    }
  }
  &--link {
    .p-guide--update-row {
      &:last-child {
        .p-guide--update-row-inner {
          padding-bottom: 0;
        }
      }
    }
    &-row {
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
          width: 48%;
          margin-bottom: 8px;
          @include mq(sm2) {
            width: 100%;
          }
        }
      }
    }
  }
}