.p-insta {
	&--tagWrap {
		&-inner {
			display: flex;
			justify-content: center;
			margin: 20px 0 40px;
			height: 42px;
			font-size: fs(15);
			line-height: 42px;
			font-weight: bold;
		}
		&-label {
			background-color: #606060;
			color: #fff;
			padding: 0 15px;
		}
		&-tag {
			padding: 0 20px;
			background-color: #fff;
			font-family: $font-c;
		}
	}
	&--icon {
		text-align: center;
		&-ttl {
			span {
				position: relative;
				display: inline-block;
				padding: 10px 30px 6px;
				font-size: fs(12);
				line-height: fs(17);
				font-family: $font-d;
				@include mq(sm2) {
					font-size: fs(12);
					line-height: fs(20);
				}
				&:before {
					position: absolute;
					left: 0;
					top: 8px;
					display: block;
					width: 25px;
					height: 25px;
					background: url(../images/common/line-dot-left2.svg) left center no-repeat;
					content: "";
				}
				&:after {
					position: absolute;
					right: 0;
					top: 8px;
					display: block;
					width: 25px;
					height: 25px;
					background: url(../images/common/line-dot-right2.svg) right center no-repeat;
					content: "";
				}
			}
		}
		&-img {
			display: inline-block;
			width: 68px;
			height: 68px;
			background: url(../images/common/icon-insta-white.svg) center center / 22px 22px no-repeat, url(../images/common/bg-icon-insta2.png) 100% 100% no-repeat;
		}
	}
	&--tagWrap {
		margin-top: 12px;
	}
	&--tag {
		position: relative;
		padding: 7px 15px;
		background-color: #fff;
		border-radius: 4px;
		font-size: fs(14);
		line-height: 1.8;
		&:before {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);
			-webkit-transform: translate(-50%, -100%);
			width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 8px solid #fff;
			content: "";
		}
	}
	&--cnt {
		margin-bottom: 60px;
		@include mq(sm2) {
			margin-bottom: 40px;
		}
		&-intro {
			margin-bottom: 20px; 
			font-size: fs(13);
			@include mq(sm2) {
				font-size: fs(11);
				padding: 0 20px;
			}
		}
		.tabs-cnt {
			padding: 20px 20px 0;
		}
		&-notices {
			@include mq(sm2) {
				padding: 0 20px;
			}
			.p-end--ttlIntroWrap {
				margin: 100px 0 60px;
				@include mq(sm2) {
					text-align: left;
					margin: 70px 0 30px;
				}
			}
			&-item {
				margin-bottom: 20px;
				&-ttl {
					margin-bottom: 15px;
					font-size: fs(15);
					@include mq(sm2) {
						font-size: fs(13);
					}
				}
				&-subList {
					padding-left: 20px;
					li {
						position: relative;
						margin-bottom: 5px;
						padding-left: 14px;
						font-size: fs(13);
						@include mq(sm2) {
							font-size: fs(11);
						}
						&:before {
							position: absolute;
							left: 0;
							top: 6px;
							display: block;
							width: 6px;
							height: 6px;
							border-radius: 50%;
							background-color: #A8A8A8;
							content: "";
						}
					}
				}
			}
		}
		.view-moreWrap {
			margin-top: -2px;
			padding: 20px 0 50px;
			background-color: #fff;

		}
	}
	&--direct {
		margin-top: 30px;
		text-align: center;
		@include mq(sm2) {
			margin-top: 20px;
			padding: 0 20px;
		}
		&-link {
			display: inline-block;
			padding: 20px 40px;
			font-size: fs(11);
			font-weight: bold;
			color: #fff;
			background: url(../images/top/bg-insta-link-sp2.png) no-repeat;
			background-size: cover;
			@include mq(sm2) {
				width: 100%;
			}
		}
	}
	.container5 {
		@include mq(sm2) {
			padding: 0;
			.p-artist--directs {
				width: calc(100% - 40px);
			}
		}
	}
}