@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/
.main {
	&-mv {
		padding-bottom: 70px;
		@include mq() {
			padding-bottom: 40px;
		}
		&--slider {
			&-item {
				padding-top: vw(80);
				@include mq() {
					padding-top: 20vw;
				}
			}
			&-itemInner {
				position: relative;
				display: flex;
				padding: vw(40);
				background-color: #fff;
				@include mq() {
					display: block;
					padding: 10px 10px 45px;
				}
			}
			&-thumbWrap {
				position: absolute;
				left: vw(40);
				bottom: vw(40);
				width: vw(720);
				height: vw(476);
				@include mq() {
					position: relative;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 64vw;
			    margin-top: -20vw;
				}
			}
			&-thumb {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				&:before {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: vw(40);
					height: vw(40);
					background: url(../images/common/icon-triangle-left.svg) no-repeat;
					background-size: 100%;
					content: "";
					z-index: 1;
					@include mq() {
						width: 4.2vw;
						height: 4.2vw;
					}
				}
				&:after {
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: vw(40);
					height: vw(40);
					background: url(../images/common/icon-triangle-right.svg) no-repeat;
					background-size: 100%;
					content: "";
					z-index: 1;
					@include mq() {
						width: 4.2vw;
						height: 4.2vw;
					}
				}
			}
			&-cnt {
				margin-left: vw(720);
				min-height: vw(360);
				display: flex;
				align-items: center;
				padding-left: vw(60);
				@include mq() {
					display: block;
					margin-left: 0;
					padding: 0 10px;
				}
			}
			&-cntInner {

			}
			&-label {
				margin-bottom: 20px;
				@include mq() {
			    position: relative;
			    margin-top: -14px;
			    margin-bottom: 15px;
			    z-index: 1;
				}
			}
			.ttl-bold {
				margin-bottom: 10px;
				@include mq() {
					margin-bottom: 5px;
				}
			}
			.desc {
				margin-bottom: 20px;
				@include mq() {
					display: none;
				}
			}
			&-dateWrap {
				display: flex;
				justify-content: space-between;
				@include mq() {
					margin-top: 10px;
				}
			}
		}
		&--news {
			display: flex;
			align-items: center;
			margin: 20px 40px 0;
			@include mq() {
				margin: 20px 20px 0;
			}
			&-ttl {
				display: flex;
				align-items: center;
				margin-right: 20px;
				padding: 10px 0;
				font-family: $font-a;
				font-size: fs(16);
				line-height: 1.6;
				font-weight: bold;
				color: #A8A8A8;
				border-top: solid 2px #A8A8A8;
				border-bottom: solid 2px #A8A8A8;
			}
			&-cnt {
				display: flex;
				flex-flow: column;
				justify-content: center;
				p {
					line-height: 1;
				}
				.date {
					margin-bottom: 10px;
				}
			}
		}
		&--notices {
			margin: 20px 40px 0;
			font-size: fs(15);
			color: #AF0202;
			@include mq() {
				margin: 20px 20px 0;
				font-size: fs(13);
			}
		}
	}
}

.section {
	&-topics {
		.section-ttl {
			margin-bottom: -58px;
			@include mq() {
				margin-bottom: -42px;
			}
		}
		&--head {
			padding: 120px 0 vw(70);
			background: #D5D5D5 url(../images/common/bg-parts.svg) repeat;
			@include mq() {
        padding: 80px 0 40px;
		  }
			&-list {
				display: flex;
				padding: 0 vw(40);
				margin: 0 vw(-30) vw(50);
				@include mq(sm2) {
			    display: block;
			    margin: 0 0 30px;
			    padding: 0 20px;
			  }
			}
			&-item {
				width: 33.33%;
				padding: 0 vw(30);
				@include mq(sm2) {
			    width: 100%;
			    padding: 0;
			    margin-bottom: 24px;
			    &:last-child {
			    	margin-bottom: 0;
			    }
			  }
				a {
					display: flex;
				}
				&-thumb {
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    flex-shrink: 0;
			    width: vw(160);
			    height: vw(145);
			    margin-right: vw(20);
			    overflow: hidden;
			    @include mq(sm2) {
				    width: 32vw;
				    height: 32vw;
				    margin-right: 20px;
				  }
					img {
						width: auto;
				    height: auto;
				    max-width: 100%;
				    max-height: 100%;
				    margin: 0 auto;
					}
				}
				&-infor {
					display: flex;
					flex-wrap: wrap;
			    align-items: center;
			    @include mq(sm2) {
			      align-items: flex-start;
				  }
				}
				&-tags {
					margin-bottom: 10px;
				 	@include mq(sm2) {
				 		margin-bottom: 5px;
				  }
				}
			}
		}
		&--navi {
			width: vw(940);
			margin: 0 auto;
			padding: 80px 0 120px;
			@include mq() {
		 		width: 100%;
		 		padding: 40px 20px 80px;
		  }
			&-top {
				position: relative;
				padding: vw(30) 0 vw(25);
				text-align: center;
				&:before {
					position: absolute;
					bottom: 0;
					left: vw(60);
					width: vw(92);
					height: vw(182);
					background: url(../images/top/icon-girl.png) no-repeat;
					background-size: 100%;
					display: block;
					content: "";
					@include mq() {
				 		width: 57px;
				 		height: 112px;
				 		left: -20px;
				  }
				}
				&:after {
					position: absolute;
					bottom: -5px;
					right: vw(60);
					width: vw(106);
					height: vw(182);
					background: url(../images/top/icon-boy.png) no-repeat;
					background-size: 100%;
					display: block;
					content: "";
					@include mq() {
				 		width: 58px;
				 		height: 100px;
				 		right: -10px;
				  }
				}

			}
			&-sloganWrap {
				padding: 0 vw(200);
				@include mq(sm2) {
					margin-bottom: 20px;
			    padding: 0 52px;
			  }
			}
			&-slogan {
				margin-bottom: 32px;
		 		img {
		 			margin: 0 auto;
		 		}
			  @include mq(sm2) {
					padding: 0 20px;
			  }
			}
			&-logo {
				margin-bottom: 30px;
				@include mq(sm2) {
					margin-bottom: 12px;
					padding: 0;
			  }
			}
			&-msg {
				font-weight: bold;
				@include mq(sm2) {
					// margin-bottom: 50px;
			  }
				span {
					display: inline-block;
					padding: 0 42px 80px;
					height: 60px;
					background: url(../images/top/bg-line-navi2.svg) bottom center no-repeat;
					background-size: contain;
					@include mq(sm2) {
						padding: 8px 30px 60px;
						font-weight: bold;
				  }
				}
			}
			&-list {
				display: flex;
				margin: 0 vw(-10);
				@include mq(sm2) {
					display: block;
					margin: 0;
			  }
			}
			&-item {
				width: 33.33%;
				padding: 0 vw(10);
				font-size: vw(14);
				@include mq(sm2) {
					width: 100%;
					padding: 0;
					margin-bottom: 5px;
					&:last-child {
						margin-bottom: 10px;
					}
			  }
				a {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					padding: vw(30) vw(15);
					border: solid 3px #0065D7;
					background-color: #fff;
					font-weight: bold;
					border-radius: 10px;
					text-align: center;
					@include mq() {
						justify-content: center;
				  }
					@include mq(sm2) {
						padding: 15px 10px 10px;
						font-size: 12px;
				  }
					span {
						display: block;
						font-size: vw(24);
						font-weight: bold;
						color: #0065D7;
						@include mq(sm2) {
							font-size: 20px;
					  }
					}
					._icon {
						// position: absolute;
						// left: 50%;
						// top: 0;
						// transform: translate(-50%, -50%);
						display: flex;
						align-items: center;
						justify-content: center;
						margin-right: 20px;
						width: vw(60);
						height: vw(60);
						// background-color: #ECECEF;
						@include mq(sm2) {
							margin-right: 20px;
							width: 60px;
							height: 60px;
					  }
						img {
							width: auto;
					    height: auto;
					    max-width: 100%;
					    max-height: 100%;
					    margin: 0 auto;
						}
					}
				}
				&.yellow {
				}
				&.green {
					a {
						border-color: #057475;
						span {
							color: #057475;
						}
					}
					._icon {
						margin-right: vw(10);
						width: vw(50);
						height: vw(50);
						@include mq(sm2) {
							margin-right: 15px;
							width: 60px;
							height: 60px;
							padding: 6px;
					  }
					}
				}
				&.pink {
					a {
						border-color: #B64543;
						span {
							color: #B64543;
						}
					}
					._icon {
						display: flex;
						align-items: center;
						justify-content: center;
						width: vw(65);
						height: vw(65);
						margin-right: vw(20);
						padding-left: vw(10);
						@include mq(sm2) {
							margin-right: 10px;
							width: 70px;
							height: 70px;
							padding: 8px;
					  }
					}
				}
			}
			&-direct {
				&-ttl {
					margin: 20px 0 5px;
					text-align: center;
					@include mq(sm2) {
						margin: 0;
					}
					span {
						position: relative;
						display: inline-block;
						padding: 25px 35px;
						font-size: fs(18);
						line-height: fs(27);
						font-weight: bold;
						@include mq(sm2) {
							font-size: fs(16);
						}
						&:before {
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							display: block;
							width: 27px;
							height: 47px;
							background: url(../images/top/line-dot-left.svg) no-repeat;
							content: "";
						}
						&:after {
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							display: block;
							width: 27px;
							height: 47px;
							background: url(../images/top/line-dot-right.svg) no-repeat;
							content: "";
						}
					}
				}
				&-link {
					margin-top: 15px;
					@include mq(sm2) {
				    margin-top: 0;
				  }

				}
			}
		}
	}
	&-column {
		.section-ttl {
			margin-bottom: -60px;
			@include mq() {
		    margin-bottom: -45px;
		  }
		}
		&--inner {
			padding: 110px 0 115px;
			background-color: #fff;
			@include mq(sm2) {
		    padding: 90px 20px 80px;
		  }
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 vw(-18) 30px;
			@include mq(sm2) {
				display: block;
				margin: 0 0 50px;
			}
		}
		&--inforWrap {
			@include mq(sm2) {
				display: flex;
			}
		}
		&--infor {
			@include mq(sm2) {
				display: block;
				width: 100%;
			}
		}
		&--item {
			width: 33.33%;
			margin-bottom: vw(50);
			padding: 0 vw(18);
			@include mq(sm2) {
		    width: 100%;
		    margin-bottom: 30px;
		    padding: 0;
		  }
			.ttl-column {
				margin-bottom: 5px;
			}
			&-thumbWrap {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				margin-bottom: 18px;
				height: vw(265);
				background-color: #fff;
				@include mq(sm2) {
					flex-shrink: 0;
					margin-bottom: 0;
					margin-right: 15px;
					width: 32vw;
					height: 21.3vw;
				}
				.label-column {
					position: absolute;
				  left: 0;
				  top: 0;
				}
			}
			.number {
				margin-bottom: 8px;
				@include mq(sm2) {
					margin-bottom: 5px;
				}
			}
			.title-lv4 {
				margin-bottom: 18px;
				@include mq(sm2) {
					margin-bottom: 10px;
				}
			}
			a {
				&:hover {
					.view-more {
						color: #A8A8A8;
				    &:after {
				      background-color: #A8A8A8;
				      width: 0;
				    }
					}
				}
			}
		}
	}
	&-search {
		// padding: vw(80) 0;
		// @include mq(sm2) {
		// 	padding: 60px 0;
		// }
		.section-ttl {
			margin-bottom: 0;
			margin-top: -36px;
			@include mq() {
        margin-top: -26px;
		  }
		}
		&--inner {
			padding: 60px 0 100px;
			// background-color: #fff;
			@include mq(sm2) {
		    padding: 40px 0 60px;
		  }
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 vw(-18) 40px;
			@include mq(sm2) {
				display: block;
				margin: 0 0 60px;
				// padding-top: 20px;
				// border-top: solid 1px #DDDDDD;
			}
		}
		&--item {
			width: 25%;
			margin-bottom: 20px;
			padding: 0 vw(18);
			&.type2 {
				width: 33.33%;
				@include mq(sm2) {
					width: 100%;
				}
			}
			@include mq(sm2) {
				width: 100%;
				margin-bottom: 0;
				padding: 0;
				border-top: solid 1px #DDDDDD;
				&:last-child {
					margin-bottom: 0;
				}
				a {
			    padding: 20px;
			    width: 100%;
			    height: 100%;
			    display: block;
				}
			}
			&-inforWrap{ 
				@include mq(sm2) {
					display: flex;
					// padding: 0 20px;
				}
		  }
			&-thumb {
				display: flex;
		    align-items: center;
		    justify-content: center;
				height: vw(280);
				margin-bottom: 20px;
				@include mq(sm2) {
					flex-shrink: 0;
					width: 32vw;
					height: 32vw;
					margin-right: 20px;
				}
				img {
					width: auto;
			    height: auto;
			    max-width: 100%;
			    max-height: 100%;
			    margin: 0 auto;
				}
			}
			&-label {
				margin-bottom: 10px;
				.label-column {
					font-weight: bold;
				}
			}
			.ttl-bold {
				margin-bottom: 8px;
			}
			.date {
				margin-bottom: 8px;
			}
			&-tags {
				margin-bottom: 20px;
			}
			&-msg {
				position: relative;
				// padding: 12px 18px;
				// background-color: #DDDDDD;
				@include mq(sm2) {
					display: flex;
				}
				// &:before {
				// 	position: absolute;
				// 	left: 50%;
				// 	top: 0;
				// 	width: 0;
		  //     height: 0;
		  //     border-left: 6px solid transparent;
			 //    border-right: 6px solid transparent;
			 //    border-bottom: 12px solid #DDDDDD;
			 //    transform: translate(-50%, -100%);
				// 	content: "";
				// }
				&-ttl {
					// margin-bottom: 5px;
					font-size: fs(12);
					font-weight: bold;
					@include mq(sm2) {
						// width: 55.5vw;
						margin-right: 15px;
						margin-bottom: 0;
						font-weight: bold;
					}
				}
			}
		}
	}
	&-artists {
		@include mq(sm2) {
			margin-bottom: 60px;
		}
		.section-ttl {
	    margin-bottom: -60px;
			@include mq() {
        margin-bottom: -45px;
		  }
		}
		&--inner {
			padding: 60px 0 155px;
			background-color: #fff;
			@include mq(sm2) {
		    padding: 20px 0 125px;
		  }
		}
		&--listWrap {
			position: relative;
			margin: 60px 0;
			@include mq(sm2) {
				margin-bottom: 0;
				.pagingInfo {
	      	bottom: 165px;
	      }
	      .slick2 .slick-prev, .slick2 .slick-next {
	      	bottom: 32px;
	      }
			}
		}
		&--direct {
			position: absolute;
			bottom: 0;
			right: 80px;
			transform: translateY(70%);
			-webkit-transform: translateY(70%);
			background: url(../images/top/bg-insta-link.png) center center / 100% no-repeat;
			border-radius: 50%;
			width: 175px;
			height: 175px;
			color: #fff;
			z-index: 1;
			@include mq(sm2) {
				position: relative;
				right: 0;
	      height: 90px;
	      width: calc(100% - 40px);
				margin: 0 auto 50px;
	      transform: translateY(0);
				-webkit-transform: translateY(0);
				border-radius: 0;
				background-image: url(../images/top/bg-insta-link-sp.png);
	    }
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-flow: column;
				width: 100%;
				height: 100%;
				&:hover {
					.section-artists--direct-link {
						&:after {
				      width: 0;
				    }
					}
				}
			}
			&-top {
				@include mq(sm2) {
					display: flex;
					align-items: center;
				}
			}
			&-img {
				text-align: center;
				@include mq(sm2) {
					display: flex;
					align-items: center;
					margin-right: 10px;
				}
			}
			&-txt {
				margin: 10px 0 5px;
				font-size: fs(14);
				font-weight: bold;
				@include mq() {

				}
			}
			&-link {
				display: inline-block;
				position: relative;
				padding-bottom: 3px;
				font-size: fs(12);
				font-weight: bold;
			  transition: all .3s;
			  
			  &:hover{
			    &:after {
			      width: 0;
			    }
			  }
			  &:after {
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    width: 100%;
			    height: 1px;
			    background-color: #fff;
			    transition: all .3s;
			    content: "";
			  }

			}
		}
		&--list {
			padding: 30px 23px 80px;
			background-color: #fff;
			border-top: dashed 1px #606060;
			border-bottom: dashed 1px #606060;
			@include mq(sm2) {
				position: relative;
	      margin: 0 0 30px;
	      padding: 20px 20px 80px;
	      &.type2 {
	      	display: flex !important;
					flex-wrap: wrap;
					justify-content: space-between;
					padding: 20px 20px 80px;
					// margin: 0 -5px;
	      }
	      .slick-slide {
	      	// width: 48% !important;
	      	padding: 0 5px;
	      }
	    }
		}
		&--item {
			margin: 0 7px;
			@include mq(sm2) {
	      width: 50%;
	      padding: 0 5px;
	      margin: 0 0 15px;
	    }
			&-thumb {
				@include mq(sm2) {
					display: block;
					width: 100% !important;
				}
			}
			&-ttl {
				margin-top: 8px;
				text-align: center;
				font-size: fs(14);
				@include mq(sm2) {
					display: block;
					width: 100% !important;
					text-align: center;
					margin: 2px auto 20px;
				}
			}
		}
	}
	&-contest {
		// padding: vw(100) 0 vw(155);
		.section-ttl {
			margin-bottom: 0;
	    margin-top: -40px;
			@include mq() {
        margin-top: -28px;
		  }
		  @include mq(sm2) {
        margin-top: -90px;
		  }
		}
		&--inner {
			padding: 60px 0 100px;
			// background-color: #fff;
			@include mq(sm2) {
		    padding: 60px 20px 60px;
		  }
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 vw(-18) 20px;
			@include mq(sm2) {
				display: block;
				margin: 0 20px 35px;
			}
		}
		&--item {
			width: 25%;
			padding: 0 vw(18);
			margin-bottom: vw(36);
			&.type2 {
				width: 33.33%;
				@include mq(sm2) {
					width: 100%;
				}
			}
			@include mq(sm2) {
				width: 100%;
				padding: 0;
				margin-bottom: 10px;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				&:hover {
					.section-contest--item-direct {
						opacity: .8;
					}
				}
			}
			&-inner {
				position: relative;
				background-color: #fff;
				padding: vw(35) vw(30) vw(25);
				@include mq(sm2) {
					display: flex;
					padding: 10px;
				}
				.label-column {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
				}
			}
			&-thumb {
				display: flex;
		    align-items: center;
		    justify-content: center;
		    height: vw(223);
		    margin-bottom: 15px;
		    @include mq(sm2) {
		    	flex-shrink: 0;
					width: 26.67vw;
					height: 26.67vw;
					margin: 0 15px 0 0;
				}
				img {
					width: auto;
			    height: auto;
			    max-width: 100%;
			    max-height: 100%;
			    margin: 0 auto;
				}
			}
			&-infor {

			}
			.ttl-bold {
				margin-bottom: 10px;
				@include mq(sm2) {
					margin-bottom: 5px;
				}
			}
			&-des {
				font-size: fs(13);
				line-height: 1.7;
				@include mq(sm2) {
					font-size: fs(11);
					line-height: fs(17);
				}
			}
			&-direct {
				padding: 10px 0;
				text-align: center;
				background-color: #DDDDDD;
				transition: all .3;
				span {
					display: inline-block;
					padding-right: 20px;
					font-size: fs(14);
					font-weight: bold;
					background: url(../images/common/icon-blank-black.svg) right center no-repeat;
					@include mq(sm2) {
						font-size: fs(12);
					}
				}
			}
		}
	}
	&-support {
		@include mq(sm2) {
			// margin-top: 60px;
		}
		.section-ttl {
			margin-bottom: -60px;
			@include mq() {
				margin-bottom: -42px;
			}
		}
		&--inner {
			padding: 118px 0 80px;
			background-color: #fff;
			@include mq(sm2) {
				padding: 80px 0 60px;
			}
		}
		&--list {
			margin-bottom: vw(60);
			border-top: solid 1px #DDDDDD;
			@include mq(sm2) {
				margin-bottom: 30px;
			}
		}
		&--item {
			border-bottom: solid 1px #DDDDDD;
			&.completed {
				opacity: .2;
				pointer-events: none;
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 20px 25px 20px 10px;
				background: url(../images/common/icon-blank-black.svg) right 10px center no-repeat;
				@include mq(sm2) {
					padding: 20px 50px 20px 20px;
					background-position: right 20px center;
				}
			}
			&-inner {

			}
			&-label {
				margin-bottom: 20px;
			}
			.ttl-bold {
				margin-bottom: 10px;
			}
			.desc2 {
				margin-bottom: 10px;
			}
			&-tags {
				margin-bottom: 12px;
			}
			.date {

			}
		}
	}
	&-sns {
		padding-top: 50px;
		margin-bottom: 100px;
		&--ttl {
			margin: 20px 0 5px;
			text-align: center;
			@include mq(sm2) {

			}
			span {
				position: relative;
				display: inline-block;
				padding: 25px 40px;
				font-size: fs(18);
				line-height: fs(27);
				font-weight: bold;
				@include mq(sm2) {
					font-size: fs(12);
					line-height: fs(20);
				}
				&:before {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					display: block;
					width: 33px;
					height: 47px;
					background: url(../images/common/line-dot-left2.svg) left center no-repeat;
					content: "";
				}
				&:after {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					display: block;
					width: 33px;
					height: 47px;
					background: url(../images/common/line-dot-right2.svg) right center no-repeat;
					content: "";
				}
			}
		}
		&--link {
			margin-top: 5px;
			display: flex;
			justify-content: center;
			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				margin: 0 15px;
			}
		}
	}
	&-collection {
		background-color: #fff;
		padding: 80px 0 90px;
		@include mq(sm2) {
			padding: 40px 0 60px;
		}
		&--inner {
			display: flex;
			@include mq(sm2) {
				display: block;
				padding: 0 20px;
			}
		}
		&--thumb {
			width: 52%;
			margin-right: 6.5%;
			flex-shrink: 0;
			@include mq(sm2) {
				width: 100%;
				margin-right: 0;
				margin-bottom: 25px;
			}
		}
		&--cnt {

		}
		&--ttl {
			font-family: $font-e;
			font-weight: 400;
			font-size: fs(32);
			margin-bottom: 10px;
			@include mq(sm2) {
				margin-bottom: 20px;
				font-size: fs(26);
			}
			img {
				height: 100%;
				width: auto;
			}
		}
		.ttl-bold2 {
			margin-bottom: 20px;
			@include mq(sm2) {
				margin-bottom: 15px;
			}
		}
		.desc {
			margin-bottom: 20px;
		}
	}
	&-msg {
		position: relative;
		width: 790px;
		max-width: 100%;
		margin: 20px auto 80px;
		padding: 80px 140px;
		background-color: #fff;
		@include mq() {
			width: calc(100% - 40px);
			padding: 40px 65px;
		}
		&:before {
	    position: absolute;
	    top: 0;
	    left: -42px;
	    width: 126px;
	    height: 248px;
	    background: url(../images/top/icon-girl.png) no-repeat;
	    background-size: 100%;
	    display: block;
	    content: "";
	    @include mq() {
				width: 70px;
				height: 137px;
				left: -18px;
			}
		}
		&:after {
	    position: absolute;
	    bottom: 0;
	    right: -50px;
	    width: 129px;
	    height: 220px;
	    background: url(../images/top/icon-boy.png) no-repeat;
	    background-size: 100%;
	    display: block;
	    content: "";
	    @include mq() {
				width: 89px;
				height: 152px;
				right: -20px;
			}
		}
		.desc {
			margin-bottom: 10px;
		}
	}
}


.pagingInfo {
	position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-family: $font-c;
  font-size: fs(13);
  font-weight: bold;
  color: #606060;
  z-index: 10;
  @include mq(sm2) {
  	bottom: 124px;
  }
  span {
  	color: #000;
  }
  i {
  	position: relative;
  	display: inline-block;
  	padding: 0 10px;
  	color: #D5D5D5;
  	&:after {
  		position: absolute;
  		left: 50%;
  		top: 50%;
  		transform: translate(-50%, -50%);
  		-webkit-transform: translate(-50%, -50%);
  		display: block;
  		width: 1px;
  		height: 20px;
  		background-color: #D5D5D5;
  		content: "";
  		@include mq(sm2) {
		  	transform: translate(0);
	  		-webkit-transform: translate(0);
	  		top: -2px;
		  }
  	}
  }
}

.en {
	.section-column .section-ttl {
		margin-bottom: -35px;

		@include mq() {
			margin-bottom: -22px;
		}
	}
	.section-artists .section-ttl {
		margin-top: -42px;
		margin-bottom: 0;
		padding-top: 0;
		background: none;
		@include mq() {
			margin-top: -28px;
		}

	}
	.section-artists--inner {
		background-color: #ECECEF;
    padding: 0 0 100px;
		@include mq(sm2) {
			padding: 20px 0;
		}
	}

	.section-artists--direct-txt {
		text-align: center;
	}

	.section-column--inner {
		@include mq(sm2) {
			padding-bottom: 110px;
		}
	}
}
