@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadein {
  -ms-interpolation-mode: bicubic;
  -webkit-animation: fadein 1.3s;
  -moz-animation: fadein 1.3s;
  animation: fadein 1.3s;
}

.fadein-delay {
  display: none;
  &.active {
    display: block;
    -ms-interpolation-mode: bicubic;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    animation: fadein 1s;
  }
}