@charset "UTF-8";

/* Fade up on scroll */
.fadedown {
  opacity: 0;
  transform: translate(0, -100%);
  transition: opacity 3.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  &.in {
    opacity: 1;
    transform: translate(0, 0);
  }
}



/* Fade up on load */
@-webkit-keyframes fadedown2 {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadedown2 {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadedown2 {
  opacity: 1;
  transform: translate(0, 0);
  animation: fadedown2 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}