/* [1] The container */
.img-hover-zoom {
  height: inherit; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: 2s cubic-bezier(.165,.84,.44,1);
}

/* [3] Finally, transforming the image when container gets hovered */
// .img-hover-zoom:hover img {
//   transform: scale(1.1);
// }


.img-hover-zoomWrap {
	cursor: pointer;
}

.img-hover-zoomWrap:hover .img-hover-zoom img {
  transform: scale(1.1);
}