/* Fade up on load */
// @-webkit-keyframes scale {
//   0% {
//     opacity: 0;
//     transform:scale(1.01)
//   }
//   100% {
//     opacity: 1;
//     transform: scale(1)
//   }
// }

@keyframes scale {
  0% {
    opacity: 0;
    transform:scale(1.01)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.scale {
  opacity: 1;
  // transition: 2s cubic-bezier(.165,.84,.44,1);
  animation: scale 2.5s linear;
}